.Builder__Container {
  width: 100%;
  text-align: center;
  overflow: scroll;
  height: fit-content;
  padding-top: 1%;
}

.Builder__Container--Top {
  width: 100%;
  display: flex;
  max-height: 21rem;
  justify-content: space-between;
}

.Builder__Container--Top h2 {
  margin: 0;
}

.Builder__Container--Bottom {
  text-align: center;

  height: 40%;
  overflow: scroll;
}

.character__selection {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
}

.item__selection {
  width: 100%;
  margin: auto;
  overflow: scroll;
}

.item__selection img {
  margin: 1%;
  border-radius: 3px;
  width: 2em;
}

.character__selection img {
  margin: 0.1em;
  border-radius: 10px;
  width: 3.2em;
}

.border1 {
  border: 3px ridge rgb(173, 169, 169);
}

.border2 {
  border: 3px ridge rgb(71, 216, 144);
}

.border3 {
  border: 3px ridge rgb(74, 124, 232);
}

.border4 {
  border: 3px ridge magenta;
}

.border5 {
  border: 3px ridge goldenrod;
}

.cost1 {
  background-color: rgb(173, 169, 169) !important;
}

.cost2 {
  background-color: rgb(71, 216, 144) !important;
}

.cost3 {
  background-color: rgb(74, 124, 232) !important;
}

.cost4 {
  background-color: magenta !important;
}

.cost5 {
  background-color: goldenrod !important;
}

.synergy-gallery {
  min-width: 25%;

  max-height: 500px;
  overflow: scroll;
}

.itemPool {
  min-width: 25%;
  /* border: 2px solid orange; */
}

.middle {
  /* border: 2px solid orange; */
  min-width: 50%;
}

.hexagon-gallery {
  margin: auto;
  padding: 5px 55px 0px 7px;
  display: grid;
  font-size: inherit;
  width: 100%;
  place-content: center;
  grid-template-columns: repeat(7, 4.2em);
  grid-gap: 1%;
}

.hex {
  display: inline-block;
  position: relative;
  width: 4em;
  height: 4.8em;

  background-color: #424242;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex__inner {
  position: absolute;
  top: 2.8px; /* equal to border thickness */
  left: 2.5px; /* equal to border thickness */
  width: 3.7em;
  height: 4.4em;
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex-container:nth-child(n + 1):nth-child(-n + 14) {
  margin-top: -2.9285714285%;
  margin-bottom: -2.9285714285%;
  transform: translateY(-2%);
}

.hex-container:nth-child(n + 8):nth-child(-n + 14) {
  margin-top: -2.9285714285%;
  margin-bottom: -2.9285714285%;
  transform: translate(53%, -23%);
}

.hex-container:nth-child(n + 15):nth-child(-n + 21) {
  transform: translateY(-47%);
}

.hex-container:nth-child(n + 22):nth-child(-n + 28) {
  margin-top: -2.9285714285%;
  margin-bottom: -2.9285714285%;
  transform: translate(53%, -70%);
}

.item-gallery {
  position: absolute;
  display: flex;
  z-index: 1;
  margin-top: -23%;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.trait-gallery {
  position: absolute;
  display: flex;
  z-index: 1;
  margin-top: 2px;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.equipped {
  position: relative;
  width: 1em;
  margin: -10px 0.5px 0 1px;
  border-radius: 50px;
  z-index: 999;
  border: 1px solid #424242;
}

.traits {
  margin: 1px;
  background-color: #424242;
  width: 1em;
  height: 1em;
  padding-bottom: 1px;
  text-align-last: center;
  border-radius: 50px;
  border: 0.5px solid rgb(228, 226, 226);
}

.traits img {
  width: 80%;
  height: 90%;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.triple_trait:nth-child(1),
.triple_trait:nth-child(3) {
  margin-top: 5px;
}

.triple_trait:nth-child(2) {
  margin-top: -3px;
}
