extends layout.pug

block content
  .sign-up-container
    .errors-container
    h2 Sign Up
    form.sign-up-form
      include includes/auth-form-fields.pug
      button.btn.btn-primary(type='submit') Sign Up
    a(href='/log-in') Already have an account? Log in here.
  script(src='js/sign-up.js')
