.recipeContainer {
  width: 50vw;
  height: 70vh;
  padding: 2em;
  background-color: $color-tertiary;
  display: flex;
}

.recipeContainer--list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;

  margin-right: 0.5em;
  background-color: rgb(249, 239, 233, 0.7);

  span {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}

.recipeContainer--preview {
  width: 60%;
  background-color: rgb(249, 239, 233, 0.7);

  img {
    width: 50%;
    margin-top: 2em;
  }

  h2,
  h3,
  h4 {
    color: $color-black;
    margin: 1em;
  }
}
