.startMenuContainer {
    background-image: url("../../images/background/startmenu2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;

  button {
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: transparent;
    border: 3px solid white;
    text-decoration: none;
    padding: 5px 25px;
  }

}

.startMenuHeaderContainer {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.startMenuHeader {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.optionsContainer {
    display: flex;
    margin-left: 10rem;
    height: 30rem;
}

.startMenuOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.link {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid white;
    text-decoration: none;
    padding: 5px 25px;
}

.beginContainer {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.footer {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}