.WorkbenchContainer {
  min-width: 100%;
  overflow: hidden;

  .CombinerContainer {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .WorkbenchContainer--Top {
    height: 50%;
    border: 1px solid $color-black;

    .WorkbenchNav {
      margin: 0.5em;
      text-align: center;
    }
  }

  .WorkbenchContainer--Bottom {
    text-align: center;
    height: 50%;
    // border: 1px solid $color-black;
    
    .brewButton {
      border: none;
      color: white;
      background-color: transparent;
      font: 10rem $display-cursive;
      margin: 0 auto;
      transition: all 0.1s ease-in;
      background-image: url(../../images/gui/brew-button.png);
      background-size: 25rem;
      background-repeat: no-repeat;
      width: 20rem;
      height: 10rem;

      &.active:hover {
        // transform: scale(1.1);
        cursor: pointer;
        background-image: url(../../images/gui/brew-button-hvr.png);
      }
    }

    .clearButton {
      // margin: 2rem;
      // float: right;
      margin: 0 auto;
      opacity: 50%;
      color: white;
      border: none;
      background-color: transparent;
      font: 3rem $body-typewriter;
      transition: all 0.1s ease-in;

      &.active:hover {
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}
