/* PHASE 5: Cats */

.content-header {
    height: 200px;
    width: 100%;
    background: url("../images/cats.jpg");
    background-size: 100% auto;
    position: relative;
}

.content-header h1 {
    position: absolute;
    bottom: 20px;
    left: 250px;
    font-size: 36px;
    color: white;
    text-shadow: black 0 0 5px;
    line-height: 1;
}

.content-header button {
    background: white;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.content-header button:hover {
  background: lightgray;
}