$grey: #72767d;
$purple: #7289da;
$dark-purple: #6074bd;
$white: #fff;
$black: #000;
$almost-white: #f0f0f0;
$light-grey: #b9bbbe;
$dark-grey: #36393f;
$darker-grey: #2f3136;
$almost-black: #26262b;
$red: #f04747;
$green: #43b581;
$font: 'Ropa Sans', sans-serif;
