doctype html
html(lang="en")
  head
    title Sessions - #{title}
  body
    h1 Sessions - #{title}
    ul
      li: a(href='/') Home
      li: a(href='/about') About
      li: a(href='/contact') Contact
    block content
    footer
      h2 History
      ul
        for item in history
          li: a(href=item)= item
