.habit__container {
  background-image: url(../assets/texture-of-wooden-boards.jpg);
  background-size: cover;
  border: 1px solid black;
  margin: 10px;
  border-radius: 3px;
  padding: 20px 30px 20px 30px;
}

.habit__calendar {
  margin-top: 20px;
}

.calendar__day {
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

.habitform__container {
  background-image: url(../assets/paper_texture.jpg);
  background-size: cover;
  padding: 20px;
  border-radius: 3px;
  border: 1px dashed rgb(255, 255, 255);
  text-align: center;
}

.habit__detail {
  display: flex;
  justify-content: space-between;
}
