@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

body {
  padding: 20px 200px 20px 200px;
  font-family: "Andika New Basic", sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "Permanent Marker", "Andika New Basic", sans-serif;
}

h2 {
  font-family: "Permanent Marker", "Andika New Basic", sans-serif;
}

button {
  outline: none !important;
}

.white {
  color: white;
  text-shadow: 0 0 10px rgb(137, 210, 191);
}

.fadebutton {
  color: rgb(205, 255, 242);
  background-color: #292d3e;
  border: 1px solid rgb(137, 210, 191);
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 10px;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
}

.fadebutton:hover {
  background: rgb(137, 210, 191)
    radial-gradient(circle, transparent 1%, rgb(137, 210, 191) 1%) center/15000%;
  color: white;
}

.fadebutton:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
}

.fb2 {
  color: rgb(254, 103, 103);
  background-color: #480202;
  border: 1px solid rgb(254, 103, 103);
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 10px;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
}

.fb2:hover {
  background: rgb(255, 112, 112)
    radial-gradient(circle, transparent 1%, rgb(137, 210, 191) 1%) center/15000%;
  color: white;
}

.fb2:active {
  background-color: #bb086b;
  background-size: 100%;
  transition: background 0s;
}
