.likes-page {
  margin-top: 20px;
}

.top-mini-nav {
  color: #39364f;
  margin-left: 36px;
}

.top-mini-nav span {
  font-size: 13px;
  padding-left: 8px;
  cursor: pointer;
}

.top-mini-nav i {
  font-size: 12px;
  color: #39364f;
}
.likes-page h1 {
  font-size: 3.25rem;
  line-height: 4rem;
  letter-spacing: 1px;
  margin-right: -1px;
  font-weight: 800;
  color: #1e0a3c;
  margin: 24px 36px 0;
}
