.login {
  width: 320px;
  margin: auto;
  margin-top: 63px;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form__logo {
  height: 55px;
  width: 55px;
  background-size: cover;
}

.login__form__logo.first {
  background: url('../assets/images/logo.png');
  background-size: cover;
}

.login__form__logo.second {
  background: url('../assets/images/welcome.png');
  background-size: cover;
}

.login__form__headline {
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  font-weight: 700;
}
.login__form__subhead {
  color: #6f7287;
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 32px;
}

/*  email */

.login__form__email {
  align-self: stretch;
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.login__form__email input {
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  border: 1px solid #0000002e;
  flex: 1;
  border-radius: 2px;
  color: #39364f;
  outline: none;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.login__form__email input.show {
  padding-top: 18px;
  padding-bottom: 4px;
  border: 2px solid blue;
}

.login__form__email_label {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.login__form__email_label.show {
  color: blue;
  top: 0;
  left: 0;
  font-size: 11px;
  padding: 7px;
  height: auto;
  opacity: 1;
}

.login__form__email_edit_hidden {
  position: absolute;
  right: 12px;
  top: 17px;
  color: gray;
  opacity: 0;
}

.login__form__email_edit_show {
  position: absolute;
  right: 12px;
  top: 17px;
  color: gray;
  opacity: 1;
  cursor: pointer;
}

.login__form__email.second input {
  background: #f3f3f3;
  color: #bdbdbd;
  border: 1px solid #d2d2d2;
}

.login__form__email.second .login__form__email_label {
  color: #bdbdbd;
}

/* Password */

.login__form__password,
.register__form__password {
  align-self: stretch;
  display: flex;
  position: relative;
  margin-bottom: 28px;
}

.login__form__password.first {
  display: none;
}

.login__form__password input,
.register__form__password input {
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  border: 1px solid #0000002e;
  flex: 1;
  border-radius: 2px;
  color: #39364f;
  outline: none;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.login__form__password input.show,
.register__form__password input.show {
  padding-top: 18px;
  padding-bottom: 4px;
  border: 2px solid blue;
}

.login__form__password_label,
.register__form__password_label {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.login__form__password_label.show,
.register__form__password_label.show {
  color: blue;
  top: 0;
  left: 0;
  font-size: 11px;
  padding: 7px;
  height: auto;
  opacity: 1;
}

.password_icon {
  position: absolute;
  right: 12px;
  top: 17px;
  color: gray;
  opacity: 1;
  cursor: pointer;
}

.login__form__password.unfocused input,
.register__form__password.unfocused input {
  border: 1px solid #d2d2d2;
}

.login__form__password.unfocused input {
  color: #bdbdbd;
}

.login__form__password.unfocused .login__form__password_label,
.register__form__password.unfocused .register__form__password_label {
  color: #bdbdbd;
}

/* Submit */

.login__form__submit,
.register__form__submit,
.demo-login-button {
  color: white;
  background-color: #d1410c;
  height: 44px;
  padding: 0 30px 1px;
  line-height: 24px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.3, 1);
  align-self: stretch;
  margin-top: 10px;
}

/* Register */

.register {
  width: 320px;
  margin: auto;
  margin-top: 63px;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__form__logo {
  height: 55px;
  width: 55px;
  background: url('../assets/images/welcome.png');
  background-size: cover;
}

.register__form__headline {
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  font-weight: 700;
}

.register__form__subhead {
  color: #6f7287;
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 32px;
}

.register__form__email {
  align-self: stretch;
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.register__form__email input {
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  border: 1px solid #0000002e;
  flex: 1;
  border-radius: 2px;
  color: #39364f;
  outline: none;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.register__form__email input {
  padding-top: 18px;
  padding-bottom: 4px;
  background: #f3f3f3;
  color: #bdbdbd;
  border: 1px solid #d2d2d2;
}

.register__form__email_label {
  position: absolute;
  margin: 0;
  color: #bdbdbd;
  top: 0;
  left: 0;
  font-size: 11px;
  padding: 7px;
  height: auto;
  opacity: 1;
}

.register__form__email_edit {
  position: absolute;
  right: 12px;
  top: 17px;
  color: gray;
  opacity: 1;
  cursor: pointer;
}

/* Full Name */

.register__form__full_name {
  align-self: stretch;
  display: flex;
  position: relative;
  margin-bottom: 28px;
}

.register__form__full_name input {
  font-size: 14px;
  line-height: 24px;
  padding: 12px;
  border: 1px solid #0000002e;
  flex: 1;
  border-radius: 2px;
  color: #39364f;
  outline: none;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.register__form__full_name input.show {
  padding-top: 18px;
  padding-bottom: 4px;
  border: 2px solid blue;
}

.register__form__full_name_label {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.16s cubic-bezier(0.4, 0, 0.3, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.register__form__full_name_label.show {
  color: blue;
  top: 0;
  left: 0;
  font-size: 11px;
  padding: 7px;
  height: auto;
  opacity: 1;
}

.register__form__full_name.unfocused input {
  border: 1px solid #d2d2d2;
}

.register__form__full_name.unfocused .register__form__full_name_label {
  color: #bdbdbd;
}

/* Errors */

.error {
  text-rendering: optimizeLegibility;
  position: absolute;
  bottom: -18px;
  left: 12px;
  color: indianred;
  font-size: 12px;
}

/* Demo Login */

.demo-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.demo-login-p {
  color: #6f7287;
}

.demo-login-button {
  margin-top: 15px;
  background-color: #1e0a3c;
}