.splash-header-image {
	display: block;
	width: 100vw;
}

.splash-events-background {
	width: 100vw;
}

.splash-events-container,
.splash-likes-container {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.splash-events-container {
	padding: 32px 25px;
}

.splash-likes-container {
	padding: 0 25px;
}

.splash-likes-container .likes-page {
	width: 100%;
	margin: 0;
}

.splash-likes-link,
.splash-events-link {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}

.splash-likes-link a,
.splash-events-link a {
	color: #39364f;
	border-bottom: 4px solid #f05537;
	font-size: 23px;
	font-weight: 600;
}

.splash-likes-link a:hover,
.splash-events-link a:hover {
	color: #d6472b;
}

.splash-events-container h1 {
	width: 100%;
	font-size: 3.25rem;
	line-height: 4rem;
	letter-spacing: 1px;
	margin-right: -1px;
	font-weight: 800;
	color: #1e0a3c;
	padding-left: 12px;
}

.splash-likes-container h1 {
	margin: 0;
	padding-left: 12px;
}

.event-index-grid {
	display: flex;
	flex-wrap: wrap;
}

.event-index-grid .event-index-list__item__content-outer-container {
	height: 100%;
	box-sizing: border-box;
}

.event-index-grid .event-index-list__item {
	width: 416px;
}

.event-index-grid .event-index-list__item__content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	background: white;
	height: 100%;
}

.event-index-grid .event-index-list__item__content-container:hover {
	box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06), 0 2px 2px 0 rgba(40, 44, 53, 0.08);
}

.event-index-grid aside {
	width: 100%;
}

.event-index-grid main {
	width: 100%;
	padding: 24px;
	box-sizing: border-box;
	display: flex;
}

.event-index-list__item__shortdate {
	padding-right: 16px;
}

.event-index-grid .event-index-list__item__like-button {
	top: 175px;
	right: 25px;
	background: white;
	border: 1px solid #eeedf2;
}
.event-index-grid .event-index-list__item__like-button:hover {
	background: #f8f7fa;
}

.event-index-grid .free-indicator {
	top: 16px;
	left: 315px;
}

.splash-likes-container .no-events-found,
.splash-events-container .no-events-found {
	margin-top: 12px;
	padding-left: 12px;
}

footer {
	background: #1e0a3c;
	height: 100px;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 24px;
	box-sizing: border-box;
	justify-content: space-between;
	font-size: 24px;
}
