include utils.pug

block signup
  article.sup.l-enter.th-dark.is-hidden
    h2 Join Coven 
    //-formTitle
    button.sup-x.l-exit(type="button") X
    section.sup-err

    form(id="sup-form" type="post" action="/api/users").enf
      input(name="_csrf" type="hidden" value=csrfToken required)
      ul
        li: +makeInput("First Name", "firstName", "text", firstName, "sup-first")
        li: +makeInput("Last Name", "lastName", "text", lastName, "sup-last")
        li: +makeInput("e-mail", "email", "email", email, "sup-email")
        li: +makeInput("Password", "password", "password", password, "sup-password")
        li: +makeInput("Verify Password", "verifyPassword", "password", verifyPassword, "sup-verify")
      button.sup-send Enter

    aside
      small Already a member?<br>
        button.log-sml Login