/* A list of all properties and their proper syntax */

/* NOTE: In CSS, when using a shorthand that sets 4 sides:
   - If given one value, it sets all sides the same
   - If given two values, 1 - top & bottom, 2 - left & right
   - If given three values, 1 - top, 2 - left & right, 3 - bottom
   - If given four values, 1 - top, 2 - right, 3 - bottom, 4 - left (clockwise)
*/

* {
  margin: 10px;
  box-sizing: border-box;
}

.border {
  /* border: shorthand that sets:
     - border-width
     - border-style
     - border-color 
     https://developer.mozilla.org/en-US/docs/Web/CSS/border
  */
  border: 2px solid black;
}

.border-width {
  /* border-width: shorthand that sets: 
     - border-top-width
     - border-right-width
     - border-bottom-width
     - border-left width
     values:  thin, medium, thick, # (px, rem, em, ...), inherit, initial, unset
     https://developer.mozilla.org/en-US/docs/Web/CSS/border-width
  */
  border-width: 10px 20px 5px;
  /* Same as... */
  border-top-width: 10px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 5px;
}

.border-style {
  /* border-style: shorthand that sets:
     - border-top-style
     - border-right-style
     - border-bottom-style
     - border-left-style
     values: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset
     https://developer.mozilla.org/en-US/docs/Web/CSS/border-style
  */
  border-style: dotted dashed solid inset;
  /* Same as... */
  border-top-style: dotted;
  border-right-style: dashed;
  border-bottom-style: solid;
  border-left-style: inset;
}

.border-color {
  /* border-color: shorthand that sets:
     - border-top-color
     - border-right-color
     - border-bottom-color
     - border-left-color
     values: rgb(), rgba(), hsl(), hsla(), hex, named
   */
  border-color: pink red black yellow;
}
