.home-banner {
	height: 300px;
	width: 100%;
	background-color: var(--dark-blue);
	position: relative;
	margin-bottom: 80px;
}
.home-banner__text {
	padding: 120px 100px;
	font-size: 30px;
	font-weight: 800;
	color: var(--light-pink);
}

.home-banner__image {
	object-fit: cover;
	position: absolute;
	top: -10%;
	right: 0;
	z-index: 1;
	height: 125%;
	width: auto;
}

.event-category-links {
	/* color: var(--dark-blue); */
	font-weight: 800;
	margin-left: 1.5rem;
}

.event-category-links__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}
