.task {
  background-image: url(../assets/brown-papyrus-paper.jpg);
  background-size: cover;
  background-position: center 40%;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  box-shadow: 0 0 50px 15px rgb(255, 255, 255);
}

.veryeasy {
  animation: glow 3s infinite alternate;
}

.easy {
  animation: glow 3s infinite alternate;
}

.normal {
  animation: glow 3s infinite alternate;
}

.hard {
  animation: glow 3s infinite alternate;
}

.veryhard {
  animation: glow 3s infinite alternate;
}

.taskform__new {
  display: flex;
  justify-content: space-around;
  background-image: url(../assets/paper_texture.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  margin: 10px;
  border: 1px dashed white;
  align-items: center;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
}

@keyframes glow {
  from {
    box-shadow: 0 0 60px 15px rgb(255, 255, 255);
  }
  to {
    box-shadow: 0 0 60px 30px rgb(255, 255, 255);
  }
}

.task__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expired__task {
  background-image: url(../assets/fail_paper.jpg);
  background-size: cover;
  background-position: center 40%;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  padding: 30px;
  box-shadow: 0 0 50px 15px rgb(255, 255, 255);
}

.task__bottom {
  display: flex;
  justify-content: space-between;
}

.restore__task {
  text-align: end;
  margin-top: 30px;
}

.revive__form {
  text-align: center;
}
