.HomePage__Container {
  margin: 40px 150px 0 150px;
}

.BuildContainer__Meta {
  display: flex;
  margin: 30px 50px 0 50px;
  text-align: center;
}

.BuildContainer__Meta div {
  margin: 20px;
}

.metaTitle {
  color: #211d32;
  margin-top: 23px;
}

.BuildContainer__Carousel {
  border: 2px solid red;
}

.Build__Preview {
  width: 300px;
  height: 480px;
  border: 2px solid blue;
  overflow: hidden;
}

.preview_image {
  width: 100%;
  overflow: hidden;
}
