.event-form__container {
	display: flex;
	justify-content: center;
	max-width: 864px;
	margin: 0 auto;
	padding: 0 48px;
}

.event-form__container form {
	width: 66.66667%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.event-form__basic-info,
.event-form__location,
.event-form__date,
.event-form__details__event-image,
.event-form__details__description,
.event-form__tickets {
	border-bottom: 1px solid #dbdae3;
	padding-bottom: 36px;
	margin-bottom: 36px;
}

.event-form__basic-info__instructions {
	font-size: 14px;
	line-height: 20px;
}
.event-form__basic-info__instructions__header,
.event-form__location__instructions__header,
.event-form__date__instructions__header,
.event-form__details__event-image__instructions__header,
.event-form__details__description__instructions__header,
.event-form__tickets__instructions__header {
	font-size: 1.875rem;
	line-height: 2.5rem;
	letter-spacing: 0.5px;
	font-weight: 700;
	color: #1e0a3c;
}

.event-form__location__inputs__street-address__header {
	font-size: 1.125rem;
	line-height: 1.5rem;
	letter-spacing: 0.25px;
	font-weight: 600;
	color: #1e0a3c;
	margin-bottom: 20px;
}
.event-form__basic-info__instructions__details,
.event-form__location__instructions__details,
.event-form__date__instructions__details,
.event-form__details__event-image__instructions__details,
.event-form__details__description__instructions__details,
.event-form__tickets__instructions__details {
	width: 75%;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	color: #39364f;
}

.event-form__basic-info__inputs {
	margin-top: 20px;
}

.event-form__basic-info__inputs__title,
.event-form__basic-info__inputs__organizer-name,
.event-form__location__inputs__location-name,
.event-form__location__inputs__location-address,
.event-form__location__inputs__city,
.event-form__location__inputs__online,
.event-form__date__inputs__start-date,
.event-form__date__inputs__end-date,
.event-form__details__event-image__inputs,
.event-form__tickets__inputs__quantity,
.event-form__tickets__inputs__price {
	margin-bottom: 16px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.event-form__location__inputs__city {
	flex-direction: row;
}

.event-form__basic-info__inputs__title__label,
.event-form__basic-info__inputs__organizer-name__label,
.event-form__location__inputs__location-name__label,
.event-form__location__inputs__location-address__label,
.event-form__location__inputs__city__label,
.event-form__location__inputs__state__label,
.event-form__location__inputs__online__label,
.event-form__date__inputs__start-date__label,
.event-form__date__inputs__end-date__label,
.event-form__details__event-image__inputs__label,
.event-form__tickets__inputs__quantity__label,
.event-form__tickets__inputs__price__label,
.event-form__tickets__inputs__price__dollar_label {
	color: rgb(111, 114, 135);
	font-size: 12px;
	line-height: 22px;
	position: absolute;
	left: 14px;
	top: 4px;
	pointer-events: none;
	z-index: 2;
}

.event-form__tickets__inputs__price__label {
	left: 30px;
}
.event-form__tickets__inputs__price__dollar_label {
	top: 20px;
	font-size: 16px;
}

.input__required {
	font-size: 0.75rem;
	line-height: 1rem;
	color: #e02e46;
}
.event-form__date__inputs__start-date,
.event-form__date__inputs__end-date {
	width: 48%;
}

.event-form__location__inputs__state__label {
	left: 40%;
}

.event-form__basic-info__inputs__title__input,
.event-form__basic-info__inputs__organizer-name__input,
.event-form__location__inputs__location-name__input,
.event-form__location__inputs__location-address__input,
.event-form__location__inputs__city__input,
.event-form__location__inputs__state__input,
.event-form__location__inputs__online__input,
.event-form__details__inputs__event-image__input,
.event-form__tickets__inputs__quantity__input,
.event-form__tickets__inputs__price__input {
	padding: 18px 12px 6px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 22px;
	border: 1px solid #dbdae3;
	border-radius: 2px;
	transition: 0.24s;
}

.event-form__tickets__inputs__price__input {
	padding-left: 30px;
}

.event-form__location__inputs__city__input {
	width: 33.33333%;
	margin-right: 5%;
}

.event-form__location__inputs__state__input {
	width: 16.66667%;
}

.event-form__basic-info__inputs__title__input:hover,
.event-form__basic-info__inputs__organizer-name__input:hover,
.event-form__location__inputs__location-name__input:hover,
.event-form__location__inputs__location-address__input:hover,
.event-form__location__inputs__city__input:hover,
.event-form__location__inputs__state__input:hover,
.event-form__location__inputs__online__input:hover,
.event-form__details__inputs__event-image__input:hover,
.event-form__tickets__inputs__quantity__input:hover,
.event-form__tickets__inputs__price__input:hover,
.type-select:hover,
.category-select:hover,
.react-datetime-picker__wrapper:hover {
	border-color: #a9a8b3;
}
.event-form__basic-info__inputs__title__input:focus,
.event-form__basic-info__inputs__organizer-name__input:focus,
.event-form__location__inputs__location-name__input:focus,
.event-form__location__inputs__location-address__input:focus,
.event-form__location__inputs__city__input:focus,
.event-form__location__inputs__state__input:focus,
.event-form__location__inputs__online__input:focus,
.event-form__details__inputs__event-image__input:focus,
.event-form__tickets__inputs__quantity__input:focus,
.event-form__tickets__inputs__price__input:focus,
.type-select:focus,
.category-select:focus,
.react-datetime-picker__wrapper:focus {
	outline: none;
	border: 2px solid #3659e3;
}

.event-form__basic-info__select__container {
	display: flex;
}

.type-select-container,
.category-select-container,
.location-type-select {
	padding-right: 16px;
	margin-bottom: 16px;
	width: 33.33333%;
}

.type-select,
.category-select,
.location-type-select,
.react-datetime-picker__wrapper {
	width: 100%;
	padding: 12px 14px;
	background: #fff;
	border: 1px solid #dbdae3;
	border-radius: 2px;
	transition: 0.24s;
	cursor: pointer;
}

.react-datetime-picker__wrapper {
	padding-top: 20px;
}

.location-type-select {
	margin-top: 20px;
}

.event-form__date__instructions,
.event-form__details__event-image__instructions,
.event-form__details__description__instructions,
.event-form__tickets__instructions {
	margin-bottom: 20px;
}

.event-form__date__inputs {
	display: flex;
	justify-content: space-between;
}

.react-datetime-picker__wrapper {
	border: 1px solid #dbdae3;
}

.event-form__nav-buttons {
	display: flex;
	justify-content: flex-end;
}

.event-form__submit-button,
.event-form__previous-button {
	box-sizing: border-box;
	height: 44px;
	width: min-content;
	padding: 0 30px;
	margin: 5px;
	align-self: flex-end;
	text-align: center;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 0.2px;
	border-radius: 4px;
	transition: 0.4s;
	border: none;
	cursor: pointer;
}

.event-form__previous-button {
	background-color: #fff;
	color: #1e0a3c;
	border: 2px solid rgb(111, 114, 135);
}

.event-form__submit-button {
	background-color: #d1410c;
	color: #fff;
}
.event-form__submit-button:hover {
	background-color: #f05537;
}

.ql-container {
	min-height: 300px;
}
