.avatar {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121521;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #eeedf270 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 72px;
  transition: all 240ms cubic-bezier(0.4, 0, 0.3, 1);
  top: -100px;
}

.profile .avatar {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  background: #2145c3;
  margin-right: 20px;
}

.profile h1,
.profile input {
  font-size: 1.875rem;
}

.profile input {
  font-weight: 700;
  border: none;
}

.profile .name-line {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.profile .name-line i {
  color: gray;
  padding-left: 20px;
  cursor: pointer;
}

.profile .summary,
.profile .summary span {
  color: #4b4d63;
  font-size: 14px;
  margin: 0 8px 0 0;
}
.profile .summary span:nth-of-type(2) {
  margin-left: 8px;
}

.profile-small {
  position: sticky;
  top: 0px;
  width: 21%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-small .copy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-small h1 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #39364f;
  padding-top: 24px;
}
