// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.channel-nav {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 240px;
	background-color: $darker-grey;

	.server-dropdown-container {
		width: 100%;
		height: 48px;
		background-color: $darker-grey;
		color: $almost-white;
		border-bottom: 1px solid black;

		.server-dropdown-button {
			width: 100%;
			height: 100%;
			padding: 0 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: 0.5s;

			&:hover {
				background-color: $almost-black;
			}
			.server-nav-header {
			}
		}
	}

	.channel-nav-list {
		margin: 16px;
		margin-left: 8px;
		color: $light-grey;

		.channels-header-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;

			.create-channel-button {
				font-weight: 400;
				font-size: 28px;
				position: relative;

				&:hover {
					.create-channel-label-container,
					.create-channel-label,
					.create-channel-arrow-down {
						display: block;
					}
				}

				.create-channel-label-container {
					position: absolute;
					top: -24px;
					left: -40px;
					display: none;
					font-size: 14px;
					background-color: black;
					border-radius: 5px;
					padding: 5px;
					white-space: nowrap;
					.create-channel-label {
					}
				}
				.create-channel-arrow-down {
					display: none;
					position: absolute;
					left: -2px;
					width: 0;
					height: 0;
					border-top: 8px solid black;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
				}
			}
		}
		.channel-nav-li {
			.channel-nav-li-link {
				padding: 4px 8px;
				display: flex;
				align-items: center;
				border-radius: 3px;
				&.active {
					color: $almost-white;
					background-color: $dark-grey;
					pointer-events: none;
				}
				&:hover {
					color: $almost-white;
					background-color: $almost-black;
				}
				.channel-symbol {
					font-size: 20px;
					font-style: italic;
					color: $light-grey;
				}
				.channel-name {
					margin-left: 0.25em;
				}
			}
		}
	}

	.logout-button {
		justify-self: flex-end;
		margin-top: auto;
		display: flex;
		align-items: center;
		height: 70px;
		background-color: $darker-grey;
		padding: 5px;
		transition: 0.3s;
		&:hover {
			background-color: $almost-black;
		}
		p {
			color: $light-grey;
			margin-left: 5px;
		}
	}
}
