// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

@keyframes entry {
	0% {
		width: 800px;
		opacity: 0;
	}
	60% {
		width: 300px;
		opacity: 0.6;
	}
}

.session-background {
	height: 100%;
	background-image: image_url('session_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.session-form-container {
		height: 100%;
		max-height: 1000px;
		max-width: 1080px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.session-form-logo {
			background-image: image_url('logo_icon_white.png');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: 50px;
			left: 50px;
			width: 130px;
			height: 36px;
			text-align: right;
			font-size: 34px;
			letter-spacing: -1px;
			text-transform: lowercase;
			color: $white;
		}

		.session-form {
			width: 400px;
			padding: 40px 40px 30px;
			background-color: $dark-grey;
			border-radius: 5px;
			box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 1);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			animation-name: entry;
			animation-duration: 0.2s;
			animation-timing-function: ease-in;

			div {
				height: 64px;
				padding: 5px 0;
			}

			[class|='session-form-input'] {
				height: 70px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}

			.session-form-input-password {
				padding: 5px 0 15px;
			}

			.session-form-header {
				height: 60px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;

				h1 {
					color: $white;
					font-size: 30px;
				}

				h3 {
					color: $grey;
					font-size: 18px;
				}
			}

			label {
				color: $light-grey;
				font-size: 12px;
				letter-spacing: 1px;
				font-weight: bold;
				text-transform: uppercase;
			}

			input {
				border-radius: 3px;
				box-sizing: border-box;
				width: 100%;
				padding: 10px;
				height: 40px;
				color: $white;
			}

			input[type='text'],
			input[type='password'] {
				background-color: rgba(0, 0, 0, 0.1);
				border: 1px solid $black;

				&:focus {
					border: 1px solid $purple;
				}
			}

			.session-errors-list {
				color: $red;
				padding: 0 0 5px;
			}

			input[type='submit'] {
				background-color: $purple;
				color: $white;
				text-align: center;
			}

			.session-form-footer {
				display: flex;
				height: 30px;
				padding-top: 10px;

				p {
					color: $grey;
				}

				a {
					color: $purple;
				}

				.demo-button {
					color: $purple;
					height: 1em;
				}
			}
		}
	}
}
