// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.user-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: $dark-grey;
}
