%h3 Why this app?
%p First, this is Ruby on Rails web app. I created this application for fun. However, I wanted to do something useful that me and other people can benefit from.

%h3 Why I want to calculate faster?
%p This could improve your life in several aspects. The brain is like a muscle that needs exercise to be more agile and process more information quickly. So, a collateral effect of doing arithmetic operation faster also you will be able to think quicker, not just with numbers but with everything. 
