.hero-unit
	%h1 Welcome to Brain Trainer!
	=# image_tag "brain-cogs-300x225.png"
	%p This app will help you to perform calculations quicker, and as side result you will also improve your speed to process information.
	%p
		= link_to "Start Training", exercises_path, class: "btn btn-primary btn-large"

= render partial: "home/faq"