html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body, button, input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

header {
  background-color: #FF3850;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
  padding: 20px;
  align-self: stretch;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  width: 800px;
}

#box {
  border: 1px solid #414651;
  height: 300px;
  width: 300px;
}

.blue {
  background: #1CB0F6;
  color: white;
}

.green {
  background: #4EBD2B;
  color: white;
}

.grey {
  background: #767E8F;
  color: white;
}

.choices {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
}
