<%- model_class = Post.new.class -%>

<% @posts.each do |post| %>
  <div class="hero-unit">
    <p><%=raw embedded_links_to_live(post.content) %></p>
    <span class="badge badge-info pull-right"><%= time_ago_in_words(post.updated_at) %> ago</span>
    <span class="badge pull-right">by <%= post.user.email %></span>
  </div>
<% end %>

<%= link_to "Create entry!",
            new_post_path,
            :class => 'btn btn-primary' %>
