<!-- Team Section -->
    <section id="bio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bio</h2>
                    <h3 class="section-subheading text-muted">Comunicación Social (PUCMM); Máster en Cine, TV y Medios Interactivos en la Universidad Rey Juan Carlos (Madrid)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/blanca-400x400.jpg" class="img-responsive img-circle" alt="">
                        <h4>Blanca Nathalie Cabral</h4>
                        <p class="text-muted">Comunicadora Social</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/blancancabral"><i class="fa fa-twitter"></i></a>
                            <li><a href="https://www.linkedin.com/pub/blanca-nathalie-cabral-tejera/67/4b2/540/en"><i class="fa fa-linkedin"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">De primeras, te cuento que lo que ven tus ojos es
un anhelo hecho realidad que empezó hace 12 años en un aula del Colegio Dominicano de la Salle. Posteriormente, se comenzó a teger en la Escuela Nacional de Locución Otto Rivera, fue enviado a la fábrica de sueños en la Facultad de Comunicación Social de la Pontificia Universidad Católica Madre y Maestra (PUCMM), se empaquetó en
los aires de Madrid estudiando un máster en Cine, TV y Medios Interactivos en la Universidad Rey Juan Carlos y actualmente, vive creciendo y alimentándose en cada segundo que marcan las manesillas de mi reloj.
</p>

<p class="large text-muted">Este viaje en la comunicación continua; qué agradecida me siento con Dios de que me permita compartirlo contigo y por qué no, darte un empojuncito para que a través de mi voz o mi soporte en comunicación tú también puedas emprender los tuyos.
</p>
                </div>
            </div>
        </div>
    </section>
