@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Permanent+Marker&display=swap");

.cat {
  display: flex;
  padding: 5px;

  width: fit-content;
  border: 3px double black;
  height: fit-content;
  margin: 1px;
  border-radius: 5px;
}

.test {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -8px, 0);
  }
}

.cat__container {
  display: flex;
  align-items: center;
  place-content: center;
  margin: 5px;
}

.stat__container {
  background-color: pink;
  font-size: 12px;
  font-family: "Permanent Marker", "Andika New Basic", sans-serif;
  position: absolute;
  display: flex;
}

.category__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  width: fit-content;
}

.category__content {
  background-image: url("../assets/paper_texture.jpg");
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  text-align-last: center;
}
