.boardview__container {
  display: flex;
  border: 1px solid black;
  height: 100%;
}

.boards {
  z-index: 2;
  width: 80%;
  padding: 0 5% 0 5%;
}

.background {
  height: 100%;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), transparent);
}

.subtitle {
  margin-top: -5%;
}

.title {
  margin-top: 0;
}
