.splash {

  text-align: center;
}

.splashTopics {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.splashTopics > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;
  border: none;
  background-color: rgba(200,200,200,0.3);
  margin: 0.3rem;
  padding: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  /* width: 10rem; */
}
.splashTopics > button > img {
  width: 1rem;
}
