.App {
}

.App-header {
  background-color: #fff;
  padding: 1rem;
}

.App-header .brand {
  display: block;
  margin-left: 1rem;
  padding: 0;
}

.App-header h3.brand {
  margin: 0;
}

.leaflet-container {
  height: 480px;
  /* width: 800px; */
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.neighborhood-detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 2.56vw 4em;
  min-height: 10vh;
}

.write-up {
  flex: 3 0 300px;
  margin-right: 0;
  margin-bottom: 1rem;
}

.key-features {
  flex: 1 0 100px;
}

.key-features ul {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAIAAACDRijCAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgNJREFUeNqUlMtqFEEUhs+p63QmzkxURhmDKBLMIjuJCxch6Btk4wMEfAnfwJUP4EJcuXQl7kUYxMtCshFJgmLUAWd6pjs1fa1jVYdogswlDV1UV1d95z//Od1IRDDnVR4Cr096yeZC2IS+PrPv72f7LydtEVMlGPv7HYUfIXqLNMpNbH59U9fOArLjH3bvKUZdgASIyjQxoRkN252trUlB8X+PKI/S7rbSsSPYLE3j8TjKWe1qY2WTqQAB3RYXC7h0xyG4wS5tngKVgx3KDvnSzfHOE528YkEDmACuADmQ9YfL3I/uERkc4WyRDXri9nMetMXfZPJPD0tzUORQW6yx5nmQC8AkgfRnMYN0mPR7aZwiOk0+PJVkLZZqra2XTng0/KCbElrXfSh0QoQXStWcublABYUtgjuPnBzkAplEUeP6nBtPm519BxEQcK+8ShR8ZOlBPgt06pROVKuDsjG1aukIstjL9r4didKABVFFIVe7olC39ATKP5C13JoQfD6I3ItCxlFqhMpXt8K0y2lKzx2DZMcMQltav6SkkM4FROZvqqwqCstXtmeDxOWNsN9K+j9diclmQYPVW47InCyyvkTGNJfvbswGAQ8u3nvc676oL68uXFkdfX4TfnldRrtARmgpFjsX1h8c12Huzj7R4+TUoe8APvO7xjP8RqZefwQYAJJq3gJCf0gwAAAAAElFTkSuQmCC");
}
.key-features li {
  padding: 0 0 1rem 0;
}
.key-features li:last-of-type {
  padding: 0 0 2em 0;
}

.key-features:hover,
.write-up:hover {
  transform: translate3d(0, -0.3125em, 0);
  transition: transform 125ms ease;
}

.key-features,
.write-up {
  transition: transform 125ms ease;
  height: 0%;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0.25em 0.25em 0 rgba(0, 0, 0, 0.12);
  padding: 2vh 2.3em 6vh;
}

@media screen and (min-width: 570px) {
  .neighborhood-detail {
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .write-up {
    margin-right: 2rem;
  }
}
