/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $sans-serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $light-blue;
	color: white;
	font-weight: bold;
	padding: 5px;
	border-radius: 3px;
	transition: 0.5s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}

button:hover {
	background-color: $dark-blue;
	border-color:$darkest-blue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 70%;
	margin: 10px auto;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}