<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to 99 Cats!</h1>
    <p>Thanks for signing up, <%=@user.username%>! We're happy to have you!</p>
    <p>Visit our site any time at: <%=@url%></p>
</body>
</html>