<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")
    link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.1/build/pure-min.css")
    link(rel="stylesheet" href="/styles/site.css")
    title WebSocket Demo
    script(src="/javascripts/site.js" type="module")
  body
    header
      h1 WebSocket Demo
    main
      .choices
        h2 Change the color of the box
        button#blue.pure-button.blue(type="button") Blue #1CB0F6
        button#green.pure-button.green(type="button") Green #4EBD2B
        button#grey.pure-button.grey(type="button") Grey #767E8F
        button#reset.pure-button(type="button") Reset
      #box
