extends layout.pug

block content
  script(defer src="js/log-in.js")
  .log-in-container
    .errors-container

    h2 Log In
    form.log-in-form
      include includes/auth-form-fields
      button.btn.btn-primary(type="submit") Log in
    a(href="/sign-up") No account? Sign here!