.leaflet-container {
  height: 480px;
  /* width: 800px; */
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.map-page-container {
  padding: 0 30px;
}

.map-nav {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.map-link {
  color: #ddd;
  border: 1px solid #ddd;
  margin: 0 1rem;
  padding: 6px 8px;
  text-decoration: none;
  transition: ease all 200ms;
}

.map-link--active {
  color: #fff;
  border-color: #fff;
}

.none-selected-msg {
  text-align: center;
  margin-top: 32px;
}
