.discoveryContainer {
  text-align: center;
  position: relative;
  height: 35rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border: 2rem double rgba(100, 50, 20, 0.05);
  text-align: center;
  background: $color-bg-light-transp;
  font-family: $body-typewriter;

  h3 {
    margin: 0;
    font: bold 4rem $display-cursive;
  }

  .discoveryBox {
    background-color: transparent;
    border: none;
    height: 25rem;
    width: 30rem;
    
    img {
      margin-top: 5rem;
      height: 20rem;
      width: 20rem;
      
    }
  }

  .itemContainer {
    position: initial;
  }

}
