<section class="page-content">
  <main class="main-content col col-2-3">
    <section class="col col-1-3">
        <a ref="#"><h2>Launching the New React/Redux Curriculum</h2></a>
        <span class="subtitle">By APP ACADEMY INSTRUCTIONAL TEAM</span>
        <ul class="curriculum-list">
            <li>
            <%# <p> %>
                It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
            <%# </p> %>
            <li>
            <%# <p> %>
                The whole state of your app is stored in an object tree inside a single store.
                The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
            <%# </p> %>
            </li>
        </ul>
        <a href="#" class="comment-link">1738 Comments</a>
    </section>

    <section class="col col-2-3">
        <iframe class="video" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <label>Warning: This video will make you want to change your career</label>

        <ul class="main-content-list">
            <hr class="hr-bottom">
            <li>
                <a href="#"><h5>Where Are They Now?</h5></a>
                <span class="subtitle">By APP ACADEMY ALUMNI</span>
                <p>
                First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
                </p>
            </li>
            <hr class="hr-bottom">
            <li>
                <a href="#"><h5>Cat Academy</h5></a>
                <span class="subtitle">By APP ACADEMY DIRECTOR OF PRODUCTS</span>
                <p>
                App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
                </p>
            </li>
        </ul>
      </section>    
    </main>
    <aside class="col col-1-3"> 
        <a href="#" class="opinion-pages-title"><h5>The Opinion Pages</h5></a>
        <section class="opinion-pages">
          <section class="col col-1-2">
              <h5 class="opinion-section">Op-Ed Contributor</h5>
              <a href="#"><h5>Will Javascript ever be as easy as Ruby?</h5></a>
              <p>
                  Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
              </p>
              <ul class="op-ed-list">
                  <li>Torvalds: When I Was Almost Wrong</li>
                  <li>Knuth: Art of Programming</li>
                  <li>Lovelace: The First Algorithm</li>
                  <li>Hopper: The First Bug</li>
                  <li>Thompson: Go C Unix</li>
                  <li>Carmack: My Virtual Reality</li>
                  <li>Stallman: Free Speech Not Free Coffee</li>
              </ul>
          </section>
          <section class="col col-1-2">
              <h5 class="opinion-section">Operations</h5>
              <a href="#"><h5>App Academy New York Has A Brand New Office</h5></a>
              <span class="subtitle">By NY OPERATIONS</span>
              <p>
              The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
              </p>
              <div class="thumbnail"><%= image_tag("new_office.jpg") %></div>
              <a href="#"><h5>Opinion Today, in your Inbox</h5></a>
              <p>
              Each weekday, get though-provoking commentary from our columnists and contributors.
              </p>
          </section>
        </section>
        <form class="newsletter-form">
            <input type="text" placeholder="Get the Opinion newsletter by email">
            <button>Sign Up</button>
          </form>
          <span>
            We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
          </span>
                
    </aside>
</section>