<div class="row social-box">
    <div class="col-md-12 social-buttons">
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-lg btn-block btn-social btn-facebook' do %>
        <i class="fa fa-facebook-square"></i> <%= prefix %> Facebook
      <% end %>
    <!--   <a class="btn btn-lg btn-block btn-social btn-google-plus">
        <i class="fa fa-google-plus"></i> Ingresar con Google
      </a>
      <a class="btn btn-lg btn-block btn-social btn-twitter">
        <i class="fa fa-twitter"></i> Ingresar con Twitter
      </a> -->

<!--       <a class="btn btn-block btn-social btn-bitbucket">
        <i class="fa fa-bitbucket"></i> Sign in with Bitbucket
      </a>
      <a class="btn btn-block btn-social btn-dropbox">
        <i class="fa fa-dropbox"></i> Sign in with Dropbox
      </a>
      <a class="btn btn-block btn-social btn-flickr">
        <i class="fa fa-flickr"></i> Sign in with Flickr
      </a>
      <a class="btn btn-block btn-social btn-github">
        <i class="fa fa-github"></i> Sign in with GitHub
      </a>
      <a class="btn btn-block btn-social btn-instagram">
        <i class="fa fa-instagram"></i> Sign in with Instagram
      </a>
      <a class="btn btn-block btn-social btn-linkedin">
        <i class="fa fa-linkedin"></i> Sign in with LinkedIn
      </a>
      <a class="btn btn-block btn-social btn-pinterest">
        <i class="fa fa-pinterest"></i> Sign in with Pinterest
      </a>
      <a class="btn btn-block btn-social btn-tumblr">
        <i class="fa fa-tumblr"></i> Sign in with Tumblr
      </a>
      <a class="btn btn-block btn-social btn-vk">
        <i class="fa fa-vk"></i> Sign in with VK
      </a> -->
    </div>
</div>
