.landing-body{
    margin-top: 20px;
}

.landing-body-title{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px black;
    max-width: 200px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}