.login-text-fields-container{
    display: flex;
    flex-direction: column;
}

.headers{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up-text-fields-container{
    display: flex;
    flex-direction: column;
}

.sign-up-text-fields-container::-webkit-scrollbar{
    display: none;
}


.calendar-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}