* {
    background-color:blanchedalmond;
}
body {
    font-family: Ariel, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

ol {
    list-style: circle inside;
}

.ingredients-list {
    list-style: square inside;
}

header img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

#reviews div {
    font-family: Courier;
    color: red;
    font-size: 18px;
}