html {
	background-color: #282c34;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.App-header {
	display: flex;
	flex-direction: column;
	height: 10vh;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
