/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
    background-color: lightslategray;
}

.header_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Rock Salt";
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: goldenrod;
}

h3 {
    font-family: "Rock Salt";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    color: rebeccapurple;
}

h5 {
    font-family: "Rock Salt";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    color: orangered;
}

.major_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_box{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    margin: 0 20px;
    padding: 20px 40px;
}

footer {
}

p {
    font-family: "Rock Salt";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

label {
    font-family: "Rock Salt";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

a {
    background-color: cadetblue;
    border-radius: 5px;
    text-decoration: none;

    font-family: "Rock Salt";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: goldenrod;
}

input[type=submit] {
    background-color: cadetblue;
    border-radius: 5px;


    font-family: "Rock Salt";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: goldenrod;
}
input[value="Destroy Band"] {
    background-color: red;
    width: 160px;
    height: 60px;
}

pre {
    font-family: "Rock Salt";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
