$font-size-xlarge: 3.6rem;
$font-size-large: 2.8rem;
$font-size-medium: 2rem;
$font-size-default: 1.8rem;
$font-size-small: 1.4rem;
$font-size-tiny: 1.2rem;

$color-black: #1f080b;
$color-green: #646f57;
$color-purple: #713459;
$color-pink: #ae7984;
$color-tan: #d5cbc3;

$color-primary: #713459;
$color-secondary: rgba(86, 82, 100, 0.8);
$color-tertiary: rgba(166, 128, 140, 0.5);

$color-bg-primary: #edf2fb;
$color-bg-secondary: rgba(204, 183, 174, 0.8);
$color-bg-tertiary: #646f57;

$color-highlight: #ff7788;

$color-cauldron: rgb(41, 43, 51, 1);
$color-liquid: rgba(76, 72, 80, 0.5);

$color-bg-light-transp: rgba(200,230,250, 0.8);

$space-small: 0.5rem;
$space-medium: 1rem;
$space-large: 2rem;


// fonts
$display-cursive: 'Parisienne';
$display-title-pencil: 'Fredericka the Great';
$display-title-blocky: 'Cinzel Decorative';
$display-label: 'Amatic SC';

$body-casual: 'Caveat';
$body-fancy: 'Dancing Script';
$body-typewriter: 'Special Elite';