.drop-container{
    display: flex;
    overflow-x: scroll;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 215px;
    min-width: 350px;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}

.drop-container::-webkit-scrollbar{
    display: none;
}

.drop-item-container{
    border: solid 1px black;
    margin-right: 10px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #88888848;
}

.drop-name{
    background-color: rgb(138, 27, 27);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

.drop-description{
    font-size: 14px;
    color: black;
    height: 100px;
}

.drop-body{
    border-top: solid 2px black;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
}

.item-button-wrapper{
    display: flex;
    justify-content: center;
}

.item-button{
    border-radius: 4px;
    background-color: black;
    padding: 2px 5px 2px 5px;
    color: white;
    font-size: 10px;
}

.item-button:hover{
    cursor: pointer;
}

.use-item-button2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: solid 1px black;
    border-radius: 3px;
    text-align: center;
    padding: 3px 5px 3px 5px;
    background-color:  rgba(0, 0, 0, 0.246);
    color: black;
    margin-left: auto;
    margin-right: 5px;
}

.use-item-button2:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    background-color:  rgb(0, 0, 0);
    color: white;
}