.reward__notice {
  background-image: url("../assets/paper_texture.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 200px;
  color: white;
  border: 2px dashed black;
}

.reward__inner {
  padding: 50px;
  text-align: center;
}

.reward__detail {
  display: flex;
  justify-content: space-between;
  margin: 0 90px 10px 90px;
}
