/* PHASE 3: Content */

.content {
    background: #fff;
    width: 900px;
    margin: auto;
    display: flex;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.content-sidebar {
    width: 200px;
    padding: 20px;
}

.content-main {
    width: 620px;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p {

}