<%
faq = {
  general: [
   {q: '¿Qué es Impulsideas?', a: 'Impulsideas es una plataforma de Comercio Colaborativo en donde los clientes, vendedores y desarrolladores pueden hacer realidad sus ideas, proyectos, deseos y/o expectativas de negocios.'},
    {q: '¿Qué es Comercio Colaborativo?', a: 'Comercio Colaborativo es el acto de compra y venta de productos en base a un propósito en común.'},
    {q: '¿Cuál es el propósito en común en Impulsideas?', a: 'Colaborar con el desarrollo de nuevos productos (artículos, servicios o eventos).'},
    {q: '¿Cuál es el beneficio del Comercio Colaborativo?', a: 'La sociedad obtiene un modelo de negocios ganar-ganar-ganar como sigue:
<br>- Los clientes obtienen mejores productos.
<br>- Los vendedores obtienen más clientes, ventas y exposición en el mercado (a bajos costos).
<br>- Los desarrolladores obtienen fondos, promoción y clientes sin caer en riesgos financieros.'},
    {q: '¿Quién puede usar Impulsideas?', a: 'Gente de casi todo el mundo puede contribuir en Impulsideas. Apoyadores desde la India, Singapur, Taiwan y Malasia no son aceptados.'},
    {q: '¿Qué es una campaña?', a: 'Llamamos campaña al proyecto registrado de un emprendedor. Es decir, una campaña es un proyecto en proceso de recaudación de fondos.'},
    {q: '¿Por qué las personas apoyan las campañas?', a: 'Por lo general, porque quieren consumir, usar o participar del producto que la idea ofrece.'},
    {q: '¿Qué cuesta utilizar Impulsideas?', a: '1- Es de registro gratuito. <br> 2- Impulsideas cobra un 5% de los productos vendidos en su marketplace más los cargos por costos transaccionales, si el proyecto asociado a los productos alcanza su meta de recaudación dentro de la fecha límite. Si el proyecto no alcanza su meta, entonces Impulsideas cobra un 9% de los productos vendidos más los cargos por la transacción de los fondos.'},
    {q: '¿Cómo cancelo mi cuenta?', a: 'Cuentas que tengan campañas en proceso, necesitan mantenerse activas. Para cancelarla dirígete a “Editar Cuenta” y haz click en boton borrar'}
    ],
  emprendedores: [
    {q: '¿Qué necesito hacer para recaudar fondos en Impulsideas?', a: '1. Una idea para desarrollar un producto o evento.<br/>2. Un video de máximo 5 minutos que explique tu idea.<br>3. Una meta monetaria para recaudar en un rango de tiempo de máximo 60 días.<br>4. Muchas ganas de lograr tu meta.<br>'},
    {q: '¿Qué gano si alcanzo las metas de mi campaña en Impulsideas?', a: 'Ganas los fondos que necesitas para desarrollar tu producto o evento.'},
    {q: '¿Quién puede participar como emprendedor?', a: 'Toda persona física (particular) no jurídica (empresa):<br>- Residente en República Dominicana.<br>- Portador de cédula de identidad.'},
    {q: '¿Qué tipo de proyectos puedo someter?', a: 'Impulsideas se enfoca en los siguientes proyectos:<br><b>a. Comerciales.</b> Actividad que cree oferta y demanda en el mercado dentro de las siguientes categorías: Arte, Software, Moda, Juegos, Publicidad, Comida y Diseño.<br><b>b. Causa Social.</b> Actividad de recaudación de fondos para desarrollar situaciones de interés común para la sociedad - no se permiten proyectos relacionados a eventos catastróficos.<br>'},
    {q: '¿Qué tipo de proyectos NO puedo someter?', a: '- No se permiten proyectos personales: evento o asunto de beneficio personal (boda, cumpleaños, etc.). No cumple con crear oferta y demanda en el mercado.<br>- No se permiten proyectos empresariales: proyecto con el propósito de mantener una empresa.'},
    {q: '¿Cuántos proyectos puedo impulsar al año?', a: 'Se permiten cuatro (4) proyectos por emprendedor al año.'},
    {q: '¿Cuántas campañas puedo tener activas al mismo tiempo?', a: 'Se permiten dos (2) campañas simultáneas por cuenta.'},
    {q: '¿Cómo recibo los fondos recaudados?', a: 'Impulsideas utiliza a Paypal como plataforma para tramitar pagos. Cuando te inscribes como “Emprendedor” puedes vincular tu cuenta de Paypal a tu cuenta de Impulsideas. Si no tienes una cuenta de Paypal puedes pagar con tu tarjeta desde paypal tambien. Adicionalmente, si tienes preguntas sobre como retirar tus fondos desde República Dominicana envianos un correo a <a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a>.'},
    {q: '¿Qué pasa si alguien más hace un proyecto parecido a mi idea?', a: 'En Impulsideas no somos responsables de que alguien someta una idea parecida antes o después de usted haber publicado su proyecto. Lo ideal es que, si su idea puede ser replicada, tome todas las medidas legales para salvaguardar su proyecto antes de publicarlo, y que no comunique la información que considere como secreta y/o esencial en su página de proyectos.'},
    {q: '¿Cuánto tiempo tengo para recaudar fondos? ', a: 'Tienes máximo 60 días para alcanzar tus metas en una campaña. '},
    ],
  contribuidores: [
    {q: '¿Cómo puedo contribuir a proyectos en Impulsideas?', a: '- Como vendor puedes vender productos para apoyar los proyectos que te interesan<br>- Como cliente puedes comprar y/o promover productos para apoyar los proyectos que te interesan'},
    {q: '¿Quién puede participar como contribuidor?', a: '- Como cliente, cualquier persona en el mundo que sea portador de una tarjeta de crédito, débito o una cuenta de Paypal. <br>- Como vendedor, cualquier persona que tenga los derechos para vender un producto. <br>- Contribuidores desde la India, Singapur, Taiwán y Malasia no son aceptados todavía.'},
    {q: '¿Existe un límite superior para precio de los productos vendidos en Impulsideas?', a: 'Existe un tope máximo de US$400.00 (o su equivalente en la moneda de tu país) por transacción. Cada cliente puede hacer un máximo de 4 compras por proyecto.'},
    {q: '¿Qué gano con contribuir a proyectos?', a: '- Contribuir a que el proyecto se haga realidad.<br>- Obtienes los productos que compraste para contribuir'},
    {q: '¿A quién debo contactar si tengo una pregunta sobre mi contribución? ', a: 'Si usted tiene una pregunta acerca de una compra o necesita más información sobre algun pago, póngase en contacto con el dueño del producto. Si necesita mas ayuda envíenos un email a <a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a>.'},
    {q: '¿Cómo sé que los fondos recaudados van a ser utilizados en el proyecto presentado?', a: "Los emprendedores se hacen responsables de desarrollar su proyecto como lo establecen los #{link_to "Terminos de uso", about_terms_path}."}
  ]
}
%>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="page-header">
      <h1>FAQs</h1>
    </div>
    <p><%= link_to "English", about_faq_en_path %></p>
    <% faq.each do |header, questions| %>
      <h3><%= header.to_s.titleize %></h3>
      <ul class="faq">
        <% questions.each do |question| %>
        <li>
          <a href="#" class="question"><%= question[:q] %></a>
          <p class="answer well"><%=raw question[:a] %></p>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
