<%
faq = {
  general: [
   {q: 'What is Impulsideas?', a: 'Impulsideas is a Collaborative Commerce platform where customers and vendors trade products in its marketplace, so developers can bring to life their ideas, projects, wishes or/and business expectations.'},
    {q: 'What is Collaborative Commerce?', a: 'Collaborative Commerce (C-Commerce) is defined as the trade of products for a shared purpose.'},
    {q: 'What is the shared purpose of Impulsideas?', a: 'Collaborate with the creation of new products (goods, services and/or events).'},
    {q: 'What is the benefit of Collaborative Commerce?', a: 'Society gets a win-win-win business model as follows:
<br>- Customers get better products.
<br>- Vendors get more customers, sales, and exposure at low cost.
<br>- Developers get funds, promotion and customer relationship without financial risks.'},
    {q: 'Who can use Impulsideas?', a: 'People of almost everywhere can participate in Impulsideas - Supporters (vendors and/or customers) from India, Singapore, Taiwan and Malaysia are not accepted due to their particular information regulations.'},
    {q: 'What is a Campaign?', a: 'A campaign is an ongoing project promoting certain Items and Sponsored Items.'},
    {q: 'Why people support project?', a: 'Usually because they want the product offered or want to participate of the idea that the project offers.'},
    {q: 'What are the fees involved?', a: '1. Impulsideas is of free registration.<br>
2. Impulsideas charges 5% of the items sold plus the applicable transactional fees for projects that reach their goals. Otherwise, Impulsideas charge 9% of the items sold plus the applicable transactional fees.'},
    {q: 'How do I cancel my account?', a: 'You can cancel your account as long as there are no projects in process. Accounts with projects in progress, can not be cancelled.<br>To cancel go to " Edit Account " and click “Cancel Account”.'}
    ],
  entrepreneurs: [
    {q: 'What do I need to raise funds with Impulsideas?', a: '1. An idea to develop a product and/or  service or event.
<br>2. A video of maximum 5 minutes explaining your idea.
<br>3. A monetary goal to raise in a time frame of up to 60 days.
<br>4.  A product to sell.
<br>5. Eagerness to achieve your goal.'},
    {q: 'What do I get if I reach my Impulsideas campaign goals?', a: '1. Get the funds you need to develop your product or event.
<br>2. Get the contacts of all those who supported your project - there may be anonymous contributors whose contact information cannot be shared.
<br>3. Get exposure to possible clients and supporters during the campaign and when it ends you get permanent exposure on the successful projects page.'},
    {q: 'What do I get if I don’t reach my Impulsideas campaign goals?', a: '1. Get the funds you raised for your product or event.
<br>2. Get the contacts of all those who supported your project - there may be anonymous contributors whose contact information cannot be shared.
<br>3. Get exposure to possible clients and supporters during the campaign and when it ends you get permanent exposure on the successful projects page.
'},
    {q: 'Who can participate as an entrepreneur?', a: 'Any person (No companies):
<br>- Resident of Dominican Republic.
<br>- At least 18 years old.
<br>- With an accepted ID.'},
    {q: 'What type of projects can I submit??', a: 'Impulsideas focuses on the following projects:

<br>Commercial. Activity that creates supply and demand in the market within the following categories: Arts, Software, Fashion, Games, Advertising, Food, Design, Tools, Electronics and Services.


<br>Note:
<br>Personal projects are not allowed: Event or matter of personal benefit (wedding, birthday, etc.). It does not meet the create supply and demand in the market condition.

<br>Business projects are not allowed: Project in order to maintain an established business.'},
    {q: 'How many projects can I promote a year?', a: 'Four (4) projects a year per entrepreneur are allowed.'},
    {q: 'How many campaigns can be active at the same time?', a: 'Two (2) simultaneous campaigns per account are permitted.'},
    {q: 'How do I receive the raised funds?', a: 'Impulsideas uses Paypal as a payment process platform. When you sign up as an "Entrepreneur" You can link your Paypal account to your Impulsideas account. If you do not have a Paypal account, you can create one by going to "this link". Additionally, if you need support for withdrawing your funds from Dominican Republic send us an email to <a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a>.'},
    {q: 'What if someone else makes a similar project to my idea?', a: 'In Impulsideas we are not responsible if anyone submits a similar idea before or after you have published your project idea. Ideally, if your idea can be replicated, take all legal measures to safeguard your project before publishing it, and do not communicate information deemed secret and / or essential on your project page.'},
    {q: 'How long do I have to promote my campaign?', a: 'You have up to 60 days to reach your campaign goal.'},
    ],
  supporters: [
    {q: 'Who can participate as a supporter?', a: 'As a customer: Anyone in the world who owns a credit card, debit card or a Paypal account. <br>As a vendor: Anyone with the rights to sell a product. Supporters from India, Singapore, Taiwan and Malaysia are not accepted.'},
    {q: 'How I can support projects?', a: 'As a customer by buying Items and/or sponsored Items you consider. As a vendor by providing a product which sales could be shared with the project developer.'},
    {q: 'Is there an upper limit for the value of the products sold?', a: 'There is a maximum of U.S. $ 400.00 (or its equivalent in the currency of your country) per transaction. Each client can make a maximum of 4 purchaces per project.'},
    {q: 'What do I get by supporting projects?', a: '- You help make a project a reality.
<br>- Get products according to items bought – and as determined by project owners.'},
    {q: 'Who do I contact if I have questions about my purchase?', a: 'If you have a question about an item or need more information about a purchase, contact the product vendor. For any other questions, email us at <a href="mailto:servicio@impulsideas.com">servicio@impulsideas.com</a>.'},
    {q: 'How do I know that the funds raised will be used in the project presented?', a: "Entrepreneurs are responsible for developing the project. Vendors are responsibles of sending the items to supporters as set out in their campaign through the Terms of Use.
"},
  {q: 'Do we have any internal Processes for Anti-Money Laundering Project monitoring or Vetting?', a: "Our Processes for AML include but are not limited to:
<br>1. An Anti-Money Laundering program:
<br>1.1. Including automatic and periodic background checks.
<br>2 . A customer identification program for Both creators and Donors:
<br>2.1. Including but not limited to ID, passports and credit cards.
<br>3 . Reporting any suspicious activity to the competent Authorities.
<br>4 . Complying with requests for information from the financial crimes enforcement networks.
"}

  ]
}
%>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="page-header">
      <h1>FAQs</h1>
    </div>
    <p><%= link_to "Español", about_faq_path %></p>
    <% faq.each do |header, questions| %>
      <h3><%= header.to_s.titleize %></h3>
      <ul class="faq">
        <% questions.each do |question| %>
        <li>
          <a href="#" class="question"><%= question[:q] %></a>
          <p class="answer well"><%=raw question[:a] %></p>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
