<div class="row">
  <!-- <div class="col-sm-3"></div> -->
  <div class="col-sm-12">
    <div class="page-header">
      <p><%= link_to "Español", about_terms_path %></p>
      <h1>Impulsideas: TERMS OF USE</h1>
    </div>
<p ><span>PLEASE READ THESE TERMS OF USE (“AGREEMENT”) CAREFULLY BEFORE USING THE SERVICES OFFERED BY IMPULSIDEAS (THE “SITE”). THIS USER AGREEMENT, THE IMPULSIDEAS PRIVACY POLICY AND ALL OTHER POLICIES ON OUR SITE SET OUT THE TERMS ON WHICH IMPULSIDEAS OFFERS YOU ACCESS TO AND USE OF OUR SITES, SERVICES, APPLICATIONS AND TOOLS (COLLECTIVELY “SERVICES”). ALL POLICIES AND THE IMPULSIDEAS PRIVACY POLICY ARE INCORPORATED INTO THIS AGREEMENT EITHER IN WHOLE OR BY REFERENCE. IN ADDITION SOME SERVICES OFFERED THROUGH THE SERVICE MAY BE SUBJECT TO ADDITIONAL TERMS AND CONDITIONS ADOPTED BY THE COMPANY.</span></p>
<p ><span>THIS AGREEMENT IS A CONTRACT BETWEEN YOU (“YOU”, “YOUR”, OR “USER”) AND IMPULSIDEAS, A GRUPO GAPEK PRODUCT (THE “COMPANY”, “WE”, “US”, “OUR”, OR “IMPULSIDEAS”). BY ACCESSING OR USING THE SITE OR BY CLICKING A BOX THAT STATES YOU ACCEPT OR AGREE TO THESE TERMS OF USE, YOU SIGNIFY YOUR AGREEMENT TO THESE TERMS OF USE, WHETHER OR NOT YOU ARE A REGISTERED USER OF THE SITE. IF YOU DO NOT AGREE TO THESE TERMS OF USE, YOU MAY NOT USE THE SITE.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Summary of Service</span></h2>
<p ><span>Impulsideas is a venue for commerce. The Site allows certain users (“Project Creator(s)”, “Creator(s)”) who comply with the Site’s policies to post “Project(s)” and attempt to elicit feedback and get products or services from other users (“Buyer(s)”) by commercializing items and services of varying nature and value (“Item(s)”). In addition certain users (“Item Sponsor(s)” or “Vendor(s)”) can offer items or services of varying nature and value (“Sponsored items”) to Project Creators for their use in sales to collect money for their projects. The sales made from a Sponsored item are assigned to the Project Creator to which they are associated.</span></p>
<p ><span>Additionally, the Site allows certain users (“Shopkeeper(s)”) who comply with the Site’s policies to post pages (“Storefront(s)”) for the purposes of offering and selling (“Listing(s)”) certain goods and services (“Inventory”) in a fixed-price format. Other users (“Buyer(s)”) can purchase Inventory from Shopkeepers.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>User Content</span></h2>
<p ><span>Certain portions of the Site allow users the ability to create content. Content  includes, but is not limited to, project pages, items, giftbacks, in-kind items, sponsored items, storefronts, inventory items, text, messages, ideas, concepts, pitches, suggestions, stories, screenplays, treatments, formats, artwork, photographs, drawings, videos, audiovisual works, musical compositions (including lyrics), sound recordings, characterizations, Your and/or other User and persons’ names, likenesses, voices, usernames, profiles, actions, appearances, performances and/or other biographical information or material, and/or other similar materials that You submit, post, upload, embed, display, communicate or otherwise distribute on or through the Site (“User Content”).</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Rules and Conduct</span></h2>
<p ><span>As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Use or law. The Service is provided only for your own personal and non-commercial use (except as allowed by the terms set forth in the Campaign: Campaign and Commerce section and the Storefront: Commerce section of the Terms of Use). You are responsible for all of your activity in connection with the Service. You shall not permit any third party using your account to take any action or submit any User Content, that:</span></p>
<ul>
  <li >
    <p ><span>is in an inappropriate category or area on the Site;</span></p>
  </li>
  <li >
    <p ><span>violate any laws, third party rights or the Terms of Use;</span></p>
  </li>
  <li >
    <p ><span>is false, inaccurate, misleading, defamatory, or libelous content (including personal information);</span></p>
  </li>
  <li >
    <p ><span>constitutes unsolicited or unauthorized advertising or promotional material or any junk mail, spam, unsolicited, or bulk electronic communications, chain letters, or pyramid schemes;</span></p>
  </li>
  <li >
    <p ><span>contains viruses or any other technologies that may harm the Site,  the Company, or Site users;</span></p>
  </li>
  <li >
    <p ><span>could damage, disable, overburden or impair the Site or software, systems or equipment of the Company, or any User;</span></p>
  </li>
  <li >
    <p ><span>harvest or otherwise collect information about users (whether or not by automated scripts), including the name, email addresses or any other personal or confidential information of Users, without their consent;</span></p>
  </li>
  <li >
    <p ><span>is defamatory, harassing, abusive, threatening, an invasion of a right of privacy of another person, bigoted, hateful, racially or otherwise offensive, violent, vulgar, obscene, pornographic or otherwise sexually explicit, otherwise harms or can reasonably be expected to harm any person or entity;</span></p>
  </li>
  <li >
    <p ><span>engages in any activity that is illegal or encourages or advocates illegal activity or the discussion of illegal activities with the intent to commit them, including Content that is, or represents an attempt to engage in, child pornography, stalking, sexual assault, fraud, trafficking in obscene or stolen material, drug dealing and/or drug abuse, harassment, theft, or conspiracy to commit any criminal activity;</span></p>
  </li>
  <li >
    <p ><span>imposes or may impose (in our sole discretion) an unreasonable or disproportionately large load on our infrastructure;</span></p>
  </li>
  <li >
    <p ><span>interferes or attempts to interfere with the proper working of the Site, services or tools, or any activities conducted on or with the Site, services or tools;</span></p>
  </li>
  <li >
    <p ><span>infringes any patent, trademark, trade secret, copyright, right of publicity, or other right of any other person or entity, or violates any law or contract;</span></p>
  </li>
  <li >
    <p ><span>impersonates any person or entity, including any employee or representative of the Company;</span></p>
  </li>
  <li >
    <p ><span>is made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence; or</span></p>
  </li>
  <li >
    <p ><span>results in a betting, wagering, lottery, raffle, sweepstakes, pyramid, Ponzi or similar scheme or game or contest of chance.</span></p>
  </li>
</ul>
<p ><span>Additionally, you shall not:</span></p>
<ul>
  <li >
    <p ><span>use the Site’s s services or tools if you are not able to form legally binding contracts, are underage in your native country, or are temporarily or indefinitely suspended from using the Site’s services or tools;</span></p>
  </li>
  <li >
    <p ><span>fail to deliver items to the Buyer, unless You cannot authenticate the Buyer’s identity;</span></p>
  </li>
  <li >
    <p ><span>manipulate the price of any item or interfere with other Users’ postings;</span></p>
  </li>
  <li >
    <p ><span>fail to deliver a Sponsored item to Supporters, unless You cannot authenticate the Supporter’s identity;</span></p>
  </li>
  <li >
    <p ><span>manipulate the price of any Sponsored item or interfere with other Users’ postings;</span></p>
  </li>
  <li >
    <p ><span>fail to deliver Inventory sold by you, unless the Buyer fails to follow the posted terms, or you cannot contact the Buyer;</span></p>
  </li>
  <li >
    <p ><span>fail to pay for items purchased by you, unless the Shopkeeper has materially changed the item’s description after you paid for the item, a clear typographical error is made, or you cannot contact the Shopkeeper;</span></p>
  </li>
  <li >
    <p ><span>manipulate the price of any Inventory or interfere with other user’s listings;</span></p>
  </li>
  <li >
    <p ><span>circumvent or manipulate the Company’s fee structure, the billing process, or fees owed to use;</span></p>
  </li>
  <li >
    <p ><span>take any action that may undermine the proper working of the Site;</span></p>
  </li>
  <li >
    <p ><span>transfer Your Site account and user ID to another party without our consent;</span></p>
  </li>
  <li >
    <p ><span>export or re-export any Site tools except in compliance with the export control laws of any relevant jurisdictions;</span></p>
  </li>
  <li >
    <p ><span>copy, modify, or distribute rights or content from the Site or Site’s copyrights and trademarks;</span></p>
  </li>
  <li >
  <p ><span>prevent or exclude others, who are using the Site in compliance with this Agreement, from accessing, viewing or contributing to a particular Project;</span></p>
    </li>
  <li >
    <p ><span>use another User’s account without permission;</span></p>
  </li>
  <li >
    <p ><span>bypass our robot exclusion headers or other measures, we may use to prevent or restrict access to the Site;</span></p>
  </li>
  <li >
    <p ><span>copy, reproduce, modify, create derivative works from, distribute, or publicly display any content (except for Your information) from the Site without the prior express written permission of Impulsideas  and the appropriate third party, as applicable; or</span></p>
  </li>
  <li >
    <p ><span>decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the extent applicable laws specifically prohibit such restriction.</span></p>
  </li>
</ul>
<p ><span>Project Creators and Shopkeepers agree to not abuse other users’ personal information. Abuse is defined as using personal information for any purpose other than those explicitly specified in the Project Creator’s Project or Shopkeeper’s Storefront Listing, or is not related to fulfilling delivery of a product or service explicitly specified in the Project Creator’s Project or the Shopkeeper’s Storefront Inventory Listing.</span></p>
<p ><span>The Company has no obligation to monitor the Site or Content and cannot and do not assure that other users are or will be complying with the foregoing Rules and Conduct or any other provisions of these TERMS OF USE, and, as between You and Us, You hereby assume all risk of harm or injury resulting from any such lack of compliance. The Company reserves the right to (i) investigate and take appropriate legal action (including, without limitation, civil, criminal, and injunctive redress) against any illegal and/or unauthorized uses of the Site, (ii) remove, edit or modify any User Content in its sole discretion, including without limitation any User Content, from the Site at any time, without notice to You and for any reason or no reason at all (iii) and remove or block any User Content from the Site.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Users of Our Services and Community Members</span></h2>
<p ><span>All visitors to the Site, whether registered or not, are Users. If you want to create a Campaign, post User Content, contribute to a campaign, create a Storefront, or Buy from a Storefront, you must register with the Site to become a “Community Member”.</span></p>
<h2 ><span>Eligibility</span></h2>
<p ><span>You may use Our Services if:</span></p>
<ol>
  <li >
    <p ><span>You are 18 years or older or between the ages of 13 and 17 and using the Site and Services with parental or legal guardian consent and supervision.</span></p>
  </li>
  <li >
    <p ><span>Your membership or use has not otherwise been restricted, suspended  or terminated.</span></p>
  </li>
  <li >
    <p ><span>You are not using another Community Member’s account without her/his permission.</span></p>
  </li>
  <li >
    <p ><span>You are in a country not open to Our Services.(</span><span>LINK FAQ</span><span>)</span></p>
  </li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Becoming a Community Member</span></h2>
<p ><span>By creating a Community Member account you will be required to create a username (“User ID”) and password. You agree to provide, maintain, and update true, accurate, current and complete information about yourself as required by Our registration process. By registering as an organization, you personally guarantee that you have the authority to bind the entity to this Agreement. You shall not impersonate any person or entity or misrepresent Your identity or affiliation with any person or entity, including using another person’s username, password, or other account information, or another person’s name, likeness, voice, image or photograph. You shall not transfer or sell your Community Member Account and User ID to another party. You are fully responsible for all activity, liability and damage resulting from your failure to maintain password confidentiality, and that Impulsideas cannot and will not be liable for any loss or damage arising from your failure to keep your password secure.</span></p>
<p ><span>Additionally, You agree to exit from Your account at the end of each session. You acknowledge and consent that the Company may, at its sole discretion and to the extent permitted by law, access, read, preserve and disclose Your account information, usage history and User Content in order to: (a) comply with any applicable law, regulation, legal process, or governmental request; (b) respond to claims that any Content violates the rights of third parties, including intellectual property rights; (c) detect, prevent, or otherwise address fraud, security, or technical issues; (e) respond to Your requests for customer service; or (f) protect the rights, property, or personal safety of Impulsideas, its USERS, or the public. You are not to provide Your User ID and password information in combination to any other party other than Impulsideas without Impulsideas’s express written permission.</span></p>
<p ><span>The Company reserves the right in its sole discretion to refuse registration of or cancel a User ID, domain name, storefront name and project name.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Entrepreneurs: Collaborative Commerce</span></h2>
<p ><span>Impulsideas is a platform that may allow certain Users (“Project Creators”) the ability to post a Campaign to showcase and share information about the Project and elicit feedback and collect money through items sales (“Project and Sponsored Articles”) from other Users (“Project Vendors”) in return for a particular product or service.</span></p>
<p ><span>To create a Campaign a Project Creator must complete all required fields of the Project Campaign Application process. This includes providing and choosing the settings for the following information:</span></p>
<ul>
  <li >
    <p ><span>A designated legal entity or person to receive the sales’ money (“Beneficiary”) has been selected, that the Beneficiary has set up an account (“Project Creator Account”) with the designated independent payment processor (the “Processor”) to receive sales’ money, and that that information is properly entered into the Project Campaign Application. You may designate yourself as the Beneficiary;</span></p>
  </li>
  <li >
    <p ><span>A monetary goal is set to motivate your current Project Campaign (“Financial Goal”);</span></p>
  </li>
  <li >
    <p ><span>An amount of time is set that you’d like to achieve the Financial Goal within (“Project Campaign Deadline”);</span></p>
  </li>
  <li >
    <p ><span>It will function as a Get What You Get Projects mixed with an stimulating Goal bonus. In other words, if you succeed in your Financial Goal Impulsideas’ fee would be lower, if not it would be higher (see other subjects below regarding the exact fee percentage for each case);</span></p>
  </li>
  <li>
    <p ><span>Select the type of project:</span></p>
    <ul>
      <li >
        <p ><span>Commercial Projects can be created by any user type.</span></p>
      </li>
      <li >
        <p ><span>Non-Profit Project must be validated with the company’s particular tax ID and any other particular document needed.</span></p>
      </li>
      <li >
        <p ><span>Charity Project can only be created by users who are selling for a charitable purpose.</span></p>
      </li>
    </ul>
  </li>
</ul>
<p ><span>A Project Campaign may be posted only after a User has submitted an application to the Company for that Project and it is approved.</span></p>
<p ><span>By posting a Project on the Site, You agree:</span></p>
<ul>
  <li >
    <p ><span>to work your sales through project items or sponsored, Vendor’s, items.;</span></p>
  </li>
  <li >
    <p ><span>all items offered must be lawful and otherwise comply with the Agreement;</span></p>
  </li>
  <li >
    <p ><span>that when you reach your Project Campaign Deadline, your Campaign will automatically close and no more Sales will be accepted for your Project;</span></p>
  </li>
  <li >
    <p ><span>a third party may choose your Project as one of its favorites, or watched projects, and may add it to the third party’s page or list on Site;</span></p>
    <ul>
      <li>
        <p><span>You may opt-out by sending an email to
                  <a href="servicio@impulsideas.com">servicio@impulsideas.com</a> requesting such.</span></p>
      </li>
    </ul>
  </li>
  <li >
    <p ><span>to fulfill all items and to respond promptly to all questions and comments regarding items;</span></p>
  </li>
  <li >
    <p ><span>that if you are unable to fulfill an item, you will work with the Buyer to reach a mutually satisfactory resolution which may include, without limitation, issuing a refund promptly;</span></p>
  </li>
  <li >
    <p ><span>that Impulsideas is not liable nor responsible for the fulfillment of items, the failure to fulfill items, the quality of the items and as otherwise disclaimed or limited by this Agreement;</span></p>
  </li>
  <li >
    <p ><span>to the Site’s Fee Policies, Chargeback Policies and Payment Policies as herein identified;</span></p>
  </li>
  <li >
    <p ><span>to pay the Site’s fees for Services;</span></p>
  </li>
  <li >
    <p ><span>that because of occasional failures of some credit cards, Site cannot and does not guarantee the full receipt of the project goal amount displayed on your Campaign page;</span></p>
  </li>
  <li >
    <p ><span>that the Site makes no guarantees regarding the performance or fairness of the Processor;</span></p>
  </li>
  <li >
    <p ><span>that the Site makes no guarantees regarding the performance or fairness of the Processor;</span></p>
  </li>
  <li >
    <p ><span>that because of occasional failures of payments from Buyers, Impulsideas cannot guarantee the receipt by Project Creators of the amount gained minus fees;</span></p>
  </li>
  <li >
    <p ><span>that Impulsideas and its payments partners will remove their fees before transmitting proceeds of a Campaign;</span></p>
  </li>
  <li >
    <p ><span>Impulsideas does not offer refunds;</span></p>
  </li>
  <li >
    <p ><span>to assume full responsibility for the content of the Campaign page and for fulfilling obligations both implied and stated in the Project page;</span></p>
  </li>
  <li >
    <p ><span>that Your Project Campaign is User Content, and is subject to all terms and conditions relating to User Content in the Agreement; and</span></p>
  </li>
  <li >
    <p ><span>that Impulsideas may cancel, interrupt or suspend a Campaign at any time for any reason.</span></p>
  </li>
<p ><span>All sales are collected for Project Creators by PayPal Service (“PayPal”). The User Agreement, Privacy Policy, Acceptable User Policy, Key Payment and Service Information, eBay Shipping Services Agreement for PayPal (each as amended and supplemented from time to time), as well as any other applicable agreement or update thereof, are available at
          <a href="https://www.paypal.com/webapps/mpp/ua/legalhub-full?country.x=US&locale.x=en_US">PayPal Legal Hub</a>and are herby incorporated by reference.</span></p>
<p ><span>Impulsideas Shall not be liable for your interactions with any organizations and/or individuals found on or through the Site service. This includes, but is not limited to, delivery of goods and services, and any other terms, conditions, warranties or representations associated with listings on Site. Site does not oversee the performance or punctuality of Project Creators. Site is not responsible for any damages or loss incurred as a result of any such dealings. All dealings are solely between you and such organizations and/or individuals. Site is under no obligation to become involved in disputes between Buyers and Project Creators, or between site Community Members and any third party. In the event of a dispute, you release Site, its officers, employees, agents and successors in rights from claims, damages and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and our service. Site reserves the right to cancel a project listing and refund all associated payments at any time for any or no reason. Site reserves the right to remove a project listing from public listing for any reason or no reason.</span></p>
<p ><span>The Site makes no guarantees regarding the performance or fairness of PayPal. Project Campaign Creators may initiate refunds at their own discretion. Site is not responsible for issuing refunds for sales that have been collected by Project Creators.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Entrepreneurs: items, Sponsored items & Contributing.</span></h2>
<p ><span>As a part of a Project Campaign a Campaign Creator may offer items in sale from Project Consumers. The proceeds from the sale of an item are assigned to the Campaign that they are associated to.</span></p>
<p ><span>In addition to sales cash, users (“item Sponsor(s)”) can use the site as a venue to sell items or services (each, a “Sponsored item”), with the proceeds of any such sale going directly to a Project of their choice. When a Project Consumer purchases a Sponsored item, the proceeds of the sale are committed by the Project Consumers to the Campaign Creator selected by the item Sponsor.</span></p>
<p ><span>By Pledging to a Project Campaign you agree to be bound by this entire Agreement, including the following terms:</span></p>
<ul>
  <li>
    <p ><span>pledging to a Project Campaign is solely Your choice;</span></p>
  </li>
  <li>
    <p ><span>that You are solely responsible for selecting the correct Campaign to make Your contribution to;</span></p>
  </li>
  <li>
    <p ><span>that Pledging to a Campaign does not give You any rights in or to that Project, including without limitation any ownership, control, or distribution rights;</span></p>
  </li>
  <li>
    <p ><span>that the Project Campaign Creator shall be free to solicit other sales for the Campaign, enter into contracts for the Project Campaign, allocate rights in or to the Campaign, and otherwise direct the Campaign in its sole discretion;</span></p>
  </li>
  <li>
    <p ><span>that Impulsideas does not guarantee that items will be delivered or satisfactory to You;</span></p>
  </li>
  <li>
    <p ><span>Impulsideas does not warrant the use of any Project Campaign collected sales or the outcome of any Campaign;</span></p>
  </li>
  <li>
    <p ><span>Contributors agree to provide their payment information at the time they contribute to a campaign. The payment will be collected at or after the Project Campaign Deadline. The amount Buyers invested is the amount they will be charged;</span></p>
  </li>
  <li>
    <p ><span>Contributors consent to Impulsideas and its payments partners authorizing or reserving a charge on their payment card or other payment method for any amount up to the full amount at any time between the contribution moment and collection of the succeeded sales;</span></p>
  </li>
  <li>
    <p ><span>Contributors agree to have sufficient funds or credit available at the Project Campaign Deadline to ensure that the contributions will be collectible;</span></p>
  </li>
  <li>
    <p ><span>Contributors may increase (never decrease, or cancel) at any time during the project campaign;</span></p>
  </li>
  <li>
    <p ><span>for all Project Creators, Impulsideas gives to the Project Creator each Contributor’s User ID and contribution amount;</span></p>
  </li>
  <li>
    <p ><span>for successful Creators, Impulsideas additionally gives to the Campaign Creator and item Sponsor each Contributor’s name and email;</span></p>
  </li>
  <li>
    <p ><span>for some items, the Campaign Creator or item Sponsor needs further information from Contributors, such as a mailing address or t-shirt size, to enable the Campaign Creator to deliver the items. The Campaign Creator or item Sponsor shall request the information directly from Contributors at some point after the project campaign is successful. To receive the item, Contributors agree to provide the requested information to the Campaign Creator or item Sponsor within a reasonable amount of time;</span></p>
  </li>
  <li>
    <p ><span>Impulsideas does not offer refunds;</span></p>
  </li>
  <li>
    <p ><span>Impulsideas is not liable or responsible for:</span></p>
    <ul>
      <li>
        <p ><span>any Campaign not attaining its Financial Goal;</span></p>
      </li>
      <li>
        <p ><span>any errors or omissions in your account caused by the payment processor; and</span></p>
      </li>
      <li>
        <p ><span>the failure of the payment processor or Campaign Creator to deliver items to You or for misuse of Sales Contributions;</span></p>
      </li>
    </ul>
  </li>
  <li>
    <p ><span>that Impulsideas makes no representations regarding the deductibility of any Contribution for tax purposes;</span></p>
  </li>
  <li>
    <p ><span>a Campaign Creator is not required to grant a Contributor’s request for a refund unless the Campaign Creator is unable or unwilling to fulfill the item;</span></p>
  </li>
  <li>
    <p ><span>Project Campaign Creators are required to fulfill all items of their successful Project campaigns or refund any Contributor whose item they do not or cannot fulfill; and</span></p>
  </li>
  <li>
    <p ><span>Campaign Creators may cancel or refund a Contributor’s contribution at any time and for any reason, and if they do so, are not required to fulfill the item.</span></p>
  </li>
</ul>
<p ><span>An item sale transaction on Site is an agreement solely between the Project Campaign Creator and the Contributor. A Sponsored item sale transaction on Site is an agreement solely between the item Sponsor and the Contributor with proceeds of any such sale going directly to the Campaign Creator. Campaign Creator or item Sponsor agrees to transfer ownership of the item or Sponsored item, in exchange for which the Contributor agrees to contribute the purchase price to the Campaign Creator. Delivery and provision arrangements with regard to any item will be made directly between the Contributor and Campaign Creator and Site shall have no obligation or responsibility arising in connection therewith or relating thereto. Deliver and provision arrangements with regard to any Sponsored item will be made directly between the Contributor and the item Sponsor and Site shall have no obligation or responsibility arising in connection therewith or relating thereto.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Storefronts: Listing and Commerce</span></h2>
<p ><span>Impulsideas may provide certain Users (“Shopkeeper(s)”), the ability to post a Storefront to showcase and list goods or services (“Items”) at a fixed price for the purpose of selling those Items to other Users (“Shopper(s)”).</span></p>
<p ><span>When listing Items on a Storefront You agree:</span></p>
<ul>
  <li>
    <p ><span>all Items listed must be for sale;</span></p>
  </li>
  <li>
    <p ><span>You are legally allowed to sell the Item;</span></p>
  </li>
  <li>
    <p ><span>to warrant that all aspects of the Item comply with the Site’s policies and this Agreement;</span></p>
  </li>
  <li>
    <p ><span>to accurately describe Your Item and all terms of sale;</span></p>
  </li>
  <li>
    <p ><span>Your listing may only include text descriptions, graphics, videos, pictures and other content relevant to the sale of that Item;</span></p>
  </li>
  <li>
    <p ><span>all Items must be listed in the appropriate category with appropriate tags;</span></p>
  </li>
  <li>
    <p ><span>the Items are NOT identified by Dominican Republic Consumer Products Safety Commission (ProConsumidor) as hazardous to consumers and therefore subject to recall;</span></p>
  </li>
  <li>
    <p ><span>if the “in stock” quantity is more than one, all Items in that listing must be identical; and</span></p>
  </li>
  <li>
    <p ><span>each unique Item must have its own listing.</span></p>
  </li>
</ul>
<p ><span>All Shopkeepers are urged to outline shop policies for their Storefront. These policies may include, for example, shipping, returns, payment and selling policies. Shopkeepers must create reasonable policies in good faith and must abide by such policies. All Storefront policies must comply with Impulsideas site-wide policies. Shopkeepers are responsible for enforcing their own reasonable Storefront policies. Impulsideas reserves the right to request that a seller modify a shop policy.</span></p>
<p ><span>Shopkeepers are responsible for accurately listing their Items, and Buyers are responsible for reading the description of items before making a purchase. All sales are binding. The Shopkeeper is obligated to ship the order or otherwise complete the transaction with the Buyer in a prompt manner, unless there is an exceptional circumstance, such as: (i) Buyer fails to meet the terms of the Shopkeeper’s listing (such as payment method), or (ii) the Shopkeeper cannot authenticate the Buyer’s identity. The Buyer is obligated to deliver appropriate payment for Items purchased, unless there is an exceptional circumstance.</span></span>
<p ><span>The price stated in each Item listing description must be an accurate representation of the sale. Shopkeepers may charge reasonable shipping and handling fees to cover the costs for packaging and mailing the Items. Shopkeepers may not charge excessive shipping fees or otherwise avoid fees. You may not alter the item’s price after a sale for the purpose of avoiding Impulsideas or Processor fees, misrepresent the Item’s location, or use another user’s account without permission.</span></p>
<p ><span>When buying an Item, You agree that:</span></p>
<ul>
  <li>
    <p ><span>You are responsible for reading the full Item description before making a commitment to buy;</span></p>
  </li>
  <li>
    <p ><span>You are entering into a legally binding contract to purchase an Item when you commit to buy an Item; and</span></p>
  </li>
  <li>
    <p ><span>We do not transfer legal ownership of items from the seller to the buyer.</span></p>
  </li>
</ul>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Fees</span></h2>
<p ><span>Signing up for Impulsideas is free. However, We do charge fees for certain services on the Site, which are as follow:</span></p>
<ul>
  <li>
    <p ><span>A 9% fee on all sales contributing to a Project no matter if the Campaign doesn’t reach its Financial Goal, plus associated payment processor fees (Paypal standard fees are 2.9% + $0.30 per transaction).</span></p>
  </li>
  <li>
    <p ><span>A 5% fee on all sales contributing to a Project if the Campaign reaches its Financial Goal, plus associated payment processor fees (Paypal standard fees are 2.9% + $0.30 per transaction).</span></p>
  </li>
</ul>
<p ><span>The difference between fees is to motivate the Campaign Creator, Vendors and Customers to reach the established Financial Goal.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Payment of Sales for Campaigns</span></h2>
<p ><span>All sales contributed to a Project excluding our fees, as described in this Agreement, will be remitted to the Project Campaign Creator. Impulsideas is not liable or responsible for any errors or omissions in the Campaign account caused by the payment processor and the failure of the payment processor to pay sales to the Campaign Creator.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Receipt of Sales</span></h2>
<p ><span>Impulsideas does not warrant or make any claims on the tax-deductibility of Contributions to Creators marked as Non-Profit. You will receive an email shortly after You make a Contribution to a Campaign. Please print a copy of your email receipt and retain it as a record of Your Contribution. To request an additional copy of this receipt, please email Us at
          <a href="servicio@impulsideas.com">servicio@impulsideas.com</a></span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>User Content and Warranty of Non-Infringement</span></h2>
<h3 ><span>License Grant of User Content</span></h3>
<p ><span>When providing us with content, user content or posting content using Our Services, you grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise any an all copyright, publicity, trademarks, database rights and intellectual property rights you have in the content, in any media known now or in the future. Further, to the fullest extent permitted under applicable law, you waive your moral rights and promise not to assert such rights against us, our sublicensees or assignees.</span></p>
<p ><span>You represent and warrant that none of the following infringe any intellectual property right: your provision of content to us, your posting of content using the Services, and our use of such content (including of works derived from it) in connection with the Services.</span></p>
<h3 ><span>Disputes with Users or Third Parties</span></h3>
<p ><span>In the event a dispute arises between you and another user or a third party, Impulsideas encourages you to contact the user or third party to resolve the dispute amicably.</span></p>
<p ><span>If a Buyer and Shopkeeper are unable to resolve a dispute resulting from a transaction that occurs on Impulsideas, they may choose to participate in Impulsideas’ case system in order to resolve the dispute. Cases are escalated for review and resolution by Impulsideas. Impulsideas provides its dispute resolution process for the benefit of users. Impulsideas does so in Impulsideas’ sole discretion, and Impulsideas has no obligation to resolve disputes between users or between users and outside parties. To the extent that Impulsideas attempts to resolve a dispute, Impulsideas will do so in good faith based solely on Impulsideas’ policies. Impulsideas will not make judgements regarding legal issues or claims.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Chargeback Policy</span></h2>
<p ><span>If a User disputes a credit or debit card charge relating to a sale, and such dispute results in a chargeback or refund, the Company shall have the right to deduct the amount of sales charged back or refunded, as well as any costs and fees associated with any such chargeback or refund, from future contributions to a Campaign Creator.  If there are no such future sales, due to no further sales being made, or because a Campaign has ended, We will issue an invoice for such amount, including costs and fees, which the Campaign Creator agrees to pay to the Company within thirty (30) days of date of the invoice.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Third Party Sites</span></h2>
<p ><span>Impulsideas may contain links to third-party websites, advertisers, or services that are not owned or controlled by Impulsideas. Impulsideas has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites or services. If you access a third party website from Impulsideas, you do so at your own risk, and you understand that this Agreement and Impulsideas’ Privacy Policy do not apply to your use of such sites. You expressly relieve Impulsideas from any and all liability arising from your use of any third-party website or services or third party owned content. Additionally, your dealings with or participation in promotions of advertisers found on Impulsideas, including payment and delivery of goods, and any other terms (such as warranties) are solely between you and such advertisers. You agree that Impulsideas shall not be responsible for any loss or damage of any sort relating to your dealings with such advertisers.</span></p>
<p ><span>We encourage you to be aware of when you leave the Service, and to read the terms and conditions and privacy policy of any third-party website or service that you visit.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Proprietary Rights</span></h2>
<p ><span>Impulsideas, the “Impulsideas” logo and other Impulsideas graphics, logos, designs, page headers, button icons, scripts, names and branding are trademarks, service marks or trade dress of Grupo GAPEK (“GG Marks”). GG Marks may not be used, including, without limitation, as part of trademarks or domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without the prior written permission of Grupo GAPEK.  The Company  retains all proprietary rights in the Site and all content, material and information posted, uploaded, transmitted or otherwise shared by Dominican Republic thereon The SITE contains the copyrighted material, trademarks and other proprietary information of Impulsideas. YOU may display and make limited copies of the Content (other than the GG Marks) for YOUR personal, non-commercial use in connection with YOUR participation in the SERVICE (except as provided herein), but YOU may not alter, modify, publish, distribute, publicly display or sell any Content or other such proprietary information, or otherwise copy, transmit or use any Content or other such proprietary information without the express, written permission of Grupo GAPEK.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Termination</span></h2>
<p ><span>The Company may terminate YOUR access to all or any part of the SITE at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with YOUR membership. If YOU wish to terminate YOUR account, YOU may do so by following the instructions on the SITE. Any fees paid hereunder are non-refundable. All provisions of the TERMS OF USE which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Disclaimers</span></h2>
<p ><span>The Company has no special relationship with or fiduciary duty to YOU. YOU acknowledge that we have no control over, and no duty to take any action regarding:</span></p>
<ul>
  <li>
    <p ><span>which Users gains access to the Site;</span></p>
  </li>
  <li>
    <p ><span>what User Content  or other content You access via the Site;</span></p>
  </li>
  <li>
    <p ><span>what effects the User Content or other content  may have on You;</span></p>
  </li>
  <li>
    <p ><span>how You may interpret or use the Content; or</span></p>
  </li>
  <li>
    <p ><span>what actions You may take as a result of having been exposed to the User Content or other content.</span></p>
  </li>
</ul>
<p ><span>The Company is not responsible, and shall have no liability, for any incorrect or inaccurate content posted on the SITE or any liability, cost or expense YOU may incur in connection with the SITE, whether caused by any USER or other person or by any of the equipment or programming associated with or utilized on the SITE. Grupo GAPEK is not responsible for the conduct, whether online or offline, of any USER of the SITE or any other person. With respect to the SITE, Grupo GAPEK assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, any communications.</span></p>
<p ><span>Under no circumstances will the Company be responsible for any loss or damage, including, without limitation, personal injury or death, resulting from any use of the SITE, any content posted, uploaded, submitted, transmitted or otherwise shared on the SITE or any interactions between any USERS of the SITE, whether online or offline. We do not  represent, warrant, covenant, guarantee, or promise any specific result from use of the SITE.</span></p>
<p ><span>THE SITE, INCLUDING, WITHOUT LIMITATION, ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SERVICE OR ADVICE PROVIDED IN CONNECTION WITH THE SITE, IS PROVIDED “AS IS” WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE WEBSITE.</span></p>
<p ><span>The Company makes no representation or warranty, express or implied, with respect to any third party data provided to Us or its transmission, timeliness, accuracy or completeness, including but not limited to implied warranties or warranties of merchantability or fitness for a particular purpose. Grupo GAPEK will not be liable in any way to YOU or to any other person for any inaccuracy, error or delay in or omission of any third party data or the transmission or delivery of any such third party data and any loss or damage arising from (a) any such inaccuracy, error, delay or omission, (b) non-performance or (c) interruption in any such third party data due either to any negligent act or omission by Grupo GAPEK or “force majeure” or any other cause beyond the control of Grupo GAPEK.</span></p>
<p ><span>The Company  reserves the right, but disclaims any obligation or responsibility, to (a) refuse to post or communicate or remove any USER CONTENT from the SITE that violates these TERMS OF USE (including the Rules of Conduct) and (b) identify any user to third parties, and/or disclose to third parties any Submission or personally identifiable information, when WE believe in good faith that such identification or disclosure will either (i) facilitate compliance with laws, including, for example, compliance with a court order or subpoena, or (ii) help to enforce these TERMS OF USE (including the Rules of Conduct) and/or OUR contest, sweepstakes, promotions, and game rules, and/or protect the safety or security of any person or property, including the SITE. Moreover, WE retain all rights to remove USER CONTENT at any time for any reason or no reason whatsoever.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Waiver and Release</span></h2>
<h3 ><span>User Disputes</span></h3>
<p ><span>f You have a dispute with one or more Users, You release the Company, its members, managers, officers, directors, employees, agents, representatives and affiliates, from all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.</span></p>
<h3 ><span>Refund Sales</span></h3>
<p ><span>You hereby agree to waive any and all rights that You may have to demand a refund or the cancellation of a sale pursuant to any applicable law, rule or regulation.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Limitation of Liability</span></h2>
<p ><span>UNDER NO CIRCUMSTANCES, INCLUDING NEGLIGENCE, SHALL The COMPANY, OR ITS MEMBERS, MANAGERS, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES  OR AFFILIATES, BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES INCLUDING LOST PROFITS, PERSONAL INJURY (INCLUDING DEATH) AND PROPERTY DAMAGE OF ANY NATURE WHATSOEVER, THAT RESULT FROM (A) THE USE OF, OR THE INABILITY TO USE, THE SITE OR CONTENT, OR (B) THE CONDUCT OR ACTIONS, WHETHER ONLINE OR OFFLINE, OF ANY USER OF A THE SITE OR ANY OTHER PERSON OR ENTITY, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. MOREOVER, UNDER NO CIRCUMSTANCES SHALL THE COMPANY BE HELD LIABLE FOR ANY DELAY OR FAILURE IN PERFORMANCE RESULTING DIRECTLY OR INDIRECTLY FROM AN ACT OF FORCE MAJEURE OR CAUSES BEYOND OUR OR THEIR REASONABLE CONTROL. WE MAY TERMINATE YOUR FURTHER ACCESS TO THE SITE OR CHANGE THE SITE OR DELETE CONTENT OR SERVICES IN ANY WAY, AT ANY TIME AND FOR ANY REASON OR NO REASON. THE LIMITATIONS, EXCLUSIONS AND DISCLAIMERS IN THIS SECTION AND ELSEWHERE IN THESE TERMS OF USE APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Indemnity</span></h2>
<p ><span>You agree to  indemnify and hold harmless the Company, its members, managers, officers, directors, employees, agents or representatives, from and against all liabilities, claims, costs and expenses, including reasonable attorneys’ fees, which result from, arise out of or are related to, Your use or misuse of, or access to, the Site, Content or otherwise from Your User Content, violation of the TERMS OF USE, or infringement by YOU, or any third party using the YOUR account, of any intellectual property or other right of any person or entity. The Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by YOU, in which event YOU will assist and cooperate with Us in asserting any available defenses.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Governing Law</span></h2>
<p ><span>These Terms of Use (and any documents incorporated herein by reference) shall be governed by and construed in accordance with the laws of the Dominican Republic, without giving effect to any principles of conflicts of law. YOU agree that the Company (and all Services) is deemed a passive website that does not give rise to personal jurisdiction over the Company, or its members, managers, officers, directors, employees, agents, representatives or affiliates, either specific or general, in any jurisdiction other than the country of Dominican Republic. YOU agree that any action at law or in equity arising out of or relating to these terms, or YOUR use or non-use of the Services, shall be filed only in the city of Dominican Republic and YOU hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action. YOU hereby irrevocably waive any right YOU may have to trial by jury in any such dispute, action or proceeding.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Taxes</span></h2>
<p ><span>You are responsible for determining any and all taxes and duties, including without limitation, sales, use, transfer, value added, withholding, income, and other taxes and/or duties assessed, incurred, or required to be collected, paid, or withheld for any reason in connection with any request for or performance of service, your use of the Site, sale or purchase of any products or services for a transaction, or otherwise in connection with any action, inaction, or omission by you or any affiliate of yours, or any of your or their respective employees, agents, contractors, or representatives (“Taxes”). You also are responsible for collecting, withholding, reporting, and remitting correct Taxes to the appropriate tax authority. The Company shall have no obligation to determine whether Taxes apply, and shall not be responsible for calculating, collecting, reporting, or remitting any Taxes to any tax authority arising from any transaction.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>International</span></h2>
<p ><span>Accessing the Site is prohibited from countries, territories, states or localities where such content is illegal. Any offer for any product, service, and/or information made in connection with the Site is void where prohibited. If you access or utilize the Site, or any services provided by or through the Site, You do so at your own initiative and are responsible for compliance with all applicable laws, rules and regulations.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Assignment</span></h2>
<p ><span>User shall not have any right or power to transfer or assign any right or privilege conferred by the Terms of Use without the written consent of the Company, and any such purported transfer or assignment shall be null and void. The Company shall have the right to assign any of its rights, privileges, duties or obligations without restriction, and without the consent of the User.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Comunication/Notification</span></h2>
<p ><span>By using the Site, you consent to receive communications from the Company electronically.  We may communicate with you by email or by posting notices on the Site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>No Agency</span></h2>
<p ><span>Nothing in this Agreement is intended to or creates any type of joint venture, employee-employer, creditor-debtor, escrow, partnership, or any fiduciary relationship between you, us or our Affiliates.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Amendment</span></h2>
<p ><span>The Company may modify the terms of this Agreement (including any document incorporated herein by reference) or the features of the Service at any time. We will post the amended Terms of Use to the Site and send a notice of material changes to the electronic address under your profile. Any such change in terms will be effective upon posting to our Site or when otherwise communicated to you, whichever is earlier. A “Material Change” is limited to any change that involves an increase in fees or liability for you. Any Material Change to this Agreement will be effective thirty (30) days from the date of posting. You will be deemed to accept (a) any Material Changes if you use the Site after the 30-day notice period, and (b) any other changes if you use the Site, after the posting of the new Terms of Use. If you do not accept a change to the Terms of Use, Your sole remedy is to contact Us and close your account. You are at all times responsible for reading and understanding each version of this Agreement, including any documents incorporated herein by reference. YOU are responsible for updating YOUR personal information to provide US YOUR current e-mail address. In the event that the last e-mail address that YOU have provided US is not valid, or for any other reason is not capable of delivering to YOU the notice described above, OUR dispatch of the e-mail containing such notice will nonetheless constitute effective notice of any amendment described in the notice.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>No Waiver</span></h2>
<p ><span>We will not be considered to have waived any of our rights or remedies, or portion of them, unless the waiver is in writing and signed by Us. Our failure to enforce the strict performance of any provision of this Agreement shall not constitute a waiver of our right to subsequently enforce such provision or any other provisions of this Agreement.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Entire Agreement, Severability, Sections and Headings</span></h2>
<p ><span>This AGREEMENT, accepted upon YOUR access and use of the SITE and further affirmed by opening a User Account, contains the entire AGREEMENT between YOU and Grupo GAPEK regarding the use of the SITE. This AGREEMENT may not be orally amended. If any provision of this AGREEMENT is held invalid, the remainder of this AGREEMENT shall continue in full force and effect. Sections and heading contained herein are for organization purposes only, and shall not be used in the interpretation of this Agreement.</span></p>
</div>
</div>
