<div class="row">
  <!-- <div class="col-sm-3"></div> -->
  <div class="col-sm-12">
    <div class="page-header">
      <p><%= link_to "English", about_terms_en_path %></p>
      <h1>Impulsideas: T&eacute;rminos y Condiciones de Uso</h1>
    </div>
<p ><span>POR FAVOR LEA ESTAS TÉRMINOS DE USO ("ACUERDO" O "CONDICIONES DE USO") ANTES DE UTILIZAR LOS SERVICIOS OFRECIDOS POR IMPULSIDEAS (EL "SITIO"). ESTE ACUERDO DE USUARIO, LA POLÍTICA DE PRIVACIDAD DE IMPULSIDEAS Y TODAS LAS OTRAS POLÍTICAS EN NUESTRO SITIO RECOGEN LOS TÉRMINOS EN QUE IMPULSIDEAS OFRECE ACCESO Y USO DE NUESTROS SITIOS, SERVICIOS, APLICACIONES y HERRAMIENTAS (COLECTIVAMENTE "SERVICIOS". TODAS LAS POLÍTICAS DE IMPULSIDEAS SE INCORPORAN EN ESTE ACUERDO YA SEA EN SU TOTALIDAD O POR REFERENCIA. ADEMÁS ALGUNOS SERVICIOS OFRECIDOS A TRAVÉS DEL SERVICIO PUEDEN ESTAR SUJETOS A LOS TÉRMINOS Y CONDICIONES ADICIONALES APROBADOS POR LA COMPAÑÍA.</span></p>
<p ><span>ESTE ACUERDO ES UN CONTRATO ENTRE USTED ("USUARIO") E IMPULSIDEAS, UN PRODUCTO DE GRUPO GAPEK (LA "COMPAÑIA", "NOSOTROS", O "IMPULSIDEAS"). AL ACCEDER O UTILIZAR EL SITIO O HACIENDO CLIC EN UN CASILLERO QUE INDICA QUE ACEPTA O QUE ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, USTED ESTABLECE QUE ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, YA FUERE QUE SEA O NO UN USUARIO REGISTRADO DEL SITIO. SI USTED NO ESTÁ DE ACUERDO CON ESTOS TÉRMINOS DE USO, NO PODRÁ USAR EL SITIO.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Servicio de Impulsideas</span></h2>
<p ><span>Impulsideas es un lugar para el comercio. El sitio permite a ciertos usuarios, ("Creador (es)") que cumplan con las políticas del sitio, publicar proyectos (“Campañas (s)”) y tratar de obtener retroalimentación para lograr ventas a través de otros usuarios ("Consumidor (es)") comercializando artículos y servicios de diversas naturalezas y valor ("Artículo (s)"). Además ciertos usuarios ("Patrocinador (es) de Artículo (s)") pueden ofrecer artículos o servicios de diversas naturalezas y valor ("Artículo patrocinado") a los creadores del proyecto para su uso en la venta para obtener dinero para su proyecto. Los fondos recaudados de las Ventas Patrocinadas están dirigidos a la campaña a la que estén asociados.</span></p>
<p ><span>Además, el sitio permite a ciertos usuarios ("Vendedor (es)") que cumplen con las políticas del sitio para publicar páginas ("Tienda (s)") para los fines de oferta y venta ("Listado (s)") de ciertos bienes y servicios ("Inventario") en un formato de precio fijo. Otros usuarios ("Comprador (es)") pueden comprar inventario de los Vendedores.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contenido de Usuario</span></h2>
<p ><span>Ciertas partes del Sitio permiten a los usuarios la capacidad de crear contenido. El contenido incluye, pero no está limitado a, páginas de proyectos, campañas, premios, artículos, artículos patrocinadas, tiendas, artículos de inventario, textos, mensajes, ideas, conceptos, propuestas, sugerencias, historias, guiones, tratamientos, formatos, obras de arte, fotografías, dibujos, vídeos, trabajos audiovisuales, composiciones musicales (incluyendo las letras), grabaciones de sonido, caracterizaciones, su nombre y el de otros usuarios y  los nombres de otras personas, sus voces, nombres de usuario, perfiles, acciones, apariciones, actuaciones y/u otra información biográfica o material, y/u otros materiales similares que usted envíe, publique, suba, incruste, muestre, comunique o distribuya en o a través del sitio ("Contenido de Usuario").</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Reglas y Conducta</span></h2>
<p ><span>Como condición de uso, usted se compromete a no utilizar el Servicio para ningún propósito que esté prohibido por las condiciones de uso o la ley. El servicio se proporciona únicamente para su uso personal y no comercial (con excepción de lo permitido por los términos establecidos en la Campañas; Campaña y sección de Comercio y La Tienda; Sección de Comercio de los Términos de Uso). Usted es responsable de la totalidad de su actividad en relación con el Servicio. Usted no podrá, ni deberá permitir a cualquier tercero el uso de su cuenta para tomar cualquier acción o presentar cualquier Contenido de Usuario, que:</span></p>
<ul>
  <li >
    <p ><span>se encuentre en una categoría inapropiada o área en el Sitio;</span></p>
  </li>
  <li >
    <p ><span>violar cualquier ley, derechos de terceros o las condiciones de uso;</span></p>
  </li>
  <li >
    <p ><span>es falsa, inexacta, engañosa, difamatoria o calumniosa (incluida la información personal);</span></p>
  </li>
  <li >
    <p ><span>constituya publicidad no solicitada o no autorizada o material promocional o cualquier correo basura, correo no deseado, no solicitado, o las comunicaciones electrónicas en masa, cadenas de cartas o esquemas piramidales;</span></p>
  </li>
  <li >
    <p ><span>que contenga virus o cualquier otra tecnología que pueda dañar el Sitio, la Sociedad, o a los usuarios del sitio;</span></p>
  </li>
  <li >
    <p ><span>pueda dañar, deshabilitar, sobrecargar o deteriorar el sitio o software, sistemas o equipos de la Compañía, o de cualquier usuario;</span></p>
  </li>
  <li >
    <p ><span>cosechar o recolectar información de cualquier forma acerca de los usuarios (ya sea por secuencias de comandos autorizados o no), incluyendo nombre, direcciones de correo electrónico o cualquier otra información personal o confidencial de los usuarios, sin su consentimiento;</span></p>
  </li>
  <li >
    <p ><span>sea difamatorio, acosador, abusivo, amenazante, una invasión de un derecho a la privacidad de otra persona, intolerante, odioso, racista u ofensivo de otra manera, violento, vulgar, obsceno, pornográfico o sexualmente explícito de otro modo, que de algún modo dañe o razonablemente pueda dañar a cualquier persona o entidad;</span></p>
  </li>
  <li >
    <p ><span>participa en cualquier actividad que sea ilegal o fomente o promueva actividades ilegales o la discusión de actividades ilegales con la intención de cometerlas, incluyendo contenido que es o representa un intento de participar en pornografía infantil, acoso, asalto sexual, fraude, tráfico de material, trato obsceno o tráfico de drogas y/o abuso de drogas, acoso, robo y conspiración para cometer cualquier actividad criminal;</span></p>
  </li>
  <li >
    <p ><span>imponga o pueda imponer (a nuestra discreción) una carga irrazonable o desproporcionadamente grande en nuestra infraestructura;</span></p>
  </li>
  <li >
    <p ><span>interfiera o intente interferir con el funcionamiento adecuado del Sitio, servicios o herramientas, o cualquier actividad realizada en o con los sitios, servicios o herramientas;</span></p>
  </li>
  <li >
    <p ><span>infrinja cualquier patente, marca, secreto comercial, derecho de autor, derecho de publicidad o cualquier otro derecho de cualquier otra persona o entidad, o que viole cualquier ley o contrato;</span></p>
  </li>
  <li >
    <p ><span>se hace pasar por otra persona o entidad, incluido cualquier empleado o representante de la Compañía;</span></p>
  </li>
  <li >
    <p ><span>se hace en el incumplimiento de cualquier obligación legal contraída con un tercero, como un deber contractual o un deber de confidencialidad; o</span></p>
  </li>
  <li >
    <p ><span>Los resultados de una apuesta, apuestas, loterías , rifas , sorteos, pirámide, esquema Ponzi o juego o concurso de azar similar.</span></p>
  </li>
</ul>
<p ><span>Además, usted no podrá:</span></p>
<ul>
  <li >
    <p ><span>utilizar los servicios del Sitio o sus herramientas si no es capaz de formar contratos legalmente vinculantes, es menor de edad en su país de residencia, o se encuentran temporalmente o indefinidamente suspendido del uso de los servicios o las herramientas del sitio;</span></p>
  </li>
  <li >
    <p ><span>dejar de entregar los artículos a sus Compradores, a menos que no se pueda autenticar la identidad del Comprador;</span></p>
  </li>
  <li >
    <p ><span>manipular el precio de cualquier artículo o interferir con anuncios de otros Usuarios;</span></p>
  </li>
  <li >
    <p ><span>dejar de entregar un Artículo Patrocinado, a menos que no se pueda autenticar la identidad del Patrocinador;</span></p>
  </li>
  <li >
    <p ><span>manipular el precio de cualquier Artículo Patrocinado o interferir con anuncios de otros Usuarios;</span></p>
  </li>
  <li >
    <p ><span>dejar de entregar inventario vendido por usted, a menos que el comprador no cumpla con los términos publicado, o si no puede ponerse en contacto con el comprador;</span></p>
  </li>
  <li >
    <p ><span>dejar de pagar los artículos adquiridos por usted, a menos que el dueño de la tienda haya cambiado sustancialmente la descripción del artículo después de que usted pagó por el artículo, se realiza un claro error tipográfico, o si no puede ponerse en contacto con el dueño de la tienda;</span></p>
  </li>
  <li >
    <p ><span>manipular el precio de cualquier inventario o interferir con los listados de otros usuarios;</span></p>
  </li>
  <li >
    <p ><span>eludir o manipular la estructura de cobros de La Empresa, el proceso de facturación, o los honorarios debidos a usar;</span></p>
  </li>
  <li >
    <p ><span>tomar cualquier acción que pueda perjudicar el buen funcionamiento del Sitio;</span></p>
  </li>
  <li >
    <p ><span>transferir su cuenta del sitio y el ID de usuario a un tercero sin nuestro consentimiento;</span></p>
  </li>
  <li >
    <p ><span>la exportación o reexportación de herramientas del sitio, salvo en cumplimiento de las leyes de control de exportación de las correspondientes jurisdicciones;</span></p>
  </li>
  <li >
    <p ><span>copiar, modificar o distribuir los derechos o contenidos del Sitio o de los derechos de autor y las marcas registradas del sitio;</span></p>
  </li>
  <li >
  <p ><span>prevenir o excluir a otros, que están utilizando el Sitio de conformidad con el presente Acuerdo, de acceder, ver o publicar de un proyecto en particular;</span></p>
    </li>
  <li >
    <p ><span>utilizar la cuenta de otro usuario sin permiso;</span></p>
  </li>
  <li >
    <p ><span>eludir nuestros protocolos de exclusión de robots u otras medidas que se pueden estar utilizando para prevenir o restringir el acceso al Sitio;</span></p>
  </li>
  <li >
    <p ><span>copiar, reproducir, modificar, crear trabajos derivados, distribuir o exhibir públicamente cualquier contenido (excepto para Su información) del Sitio sin el permiso escrito expreso previo de Impulsideas y la tercera parte correspondiente, según sea el caso; o</span></p>
  </li>
  <li >
    <p ><span>descifrar, descompilar, desensamblar, realizar ingeniería inversa o intentar derivar el código fuente o ideas subyacentes o algoritmos de cualquier parte del Servicio, salvo hasta la medida que las leyes aplicables prohíban específicamente dicha restricción.</span></p>
  </li>
</ul>
<p ><span>Los Creadores y Vendedores del proyecto se comprometen a no abusar de la información personal de otros usuarios. El abuso se define como el uso de información personal para cualquier otro propósito que no sean los especificados explícitamente en el Proyecto del Creador o tienda de venta del Vendedor, o no se relaciona con el cumplimiento de la entrega de un producto o servicio que se especifica de forma explícita en el Proyecto del Creador o Listado de Inventario Vendedor.</span></p>
<p ><span>La Compañía no tiene ninguna obligación de monitorear el Sitio o el Contenido y no puede ni asegura que otros usuarios cumplan o vayan a cumplir con las disposiciones anteriores de Reglas y Conducta o cualquier otra disposición de estos términos de uso, y, entre Usted y nosotros, Usted asume todo el riesgo de daño o lesión resultante de cualquier falta de conformidad. La Empresa se reserva el derecho a (i) investigar y tomar las medidas legales (incluyendo, sin limitación, la reparación civil, penal, y por mandato judicial) contra cualquier uso ilegal y/o no autorizados del Sitio, (ii) eliminar, editar o modificar cualquier contenido de Usuario a su sola discreción, incluyendo, sin limitación, cualquier contenido del Usuario, del sitio en cualquier momento, sin previo aviso a Usted y por cualquier motivo o sin motivo alguno (iii) y eliminar o bloquear cualquier contenido de Usuario del sitio.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Usuarios de nuestro servicio y miembros de la comunidad</span></h2>
<p ><span>Todos los visitantes al sitio, ya sean registradas o no, son usuarios. Si desea crear una Campaña, publicar Contenido de Usuario, contribuir a una campaña, crear un tienda, o comprar de una tienda, debe registrarse en el sitio para convertirse en un "miembro de la Comunidad".</span></p>
<h2 ><span>Elegibilidad</span></h2>
<p ><span>Usted puede usar nuestros servicios si:</span></p>
<ol>
  <li >
    <p ><span>Usted tiene 18 años o más, o entre las edades de 13 y 17 años y el uso del Sitio y los Servicios con el consentimiento de los padres o tutor legal y la supervisión.</span></p>
  </li>
  <li >
    <p ><span>Su membres&iacute;a o el uso de otro modo no se ha restringido, suspendido o cancelado</span></p>
  </li>
  <li >
    <p ><span>No est&aacute; utilizando la cuenta de otro miembro sin su permiso</span></p>
  </li>
  <li >
    <p ><span>Actualmente no Reside en un pa&iacute;s que no recibe nuestros servicios (</span><span>LINK FAQ</span><span>)</span></p>
  </li>
</ol>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Convertirse en un miembro</span></h2>
<p ><span>Mediante la creación de una cuenta de Miembro de la Comunidad se le requerirá para crear un nombre de usuario ("User ID") y la contraseña. Usted se compromete a proporcionar, mantener y actualizar información verdadera, precisa, actual y completa sobre usted como lo requiere Nuestro proceso de registro. Al registrarse como una organización, debe garantizar personalmente que usted tiene la autoridad para obligar a la entidad en el presente Acuerdo. Usted no deberá hacerse pasar por otra persona o entidad o falsificar su identidad o afiliación con cualquier persona o entidad, incluyendo el uso de nombre de usuario de otra persona, contraseña u otra información de la cuenta, o el nombre de otra persona, imagen, voz , imagen o fotografía. No podrá transferir o vender su Cuenta Miembro de la Comunidad y el ID de usuario a otra parte. Usted es completamente responsable de todas las actividades, la responsabilidad y los daños resultantes de su incumplimiento a mantener la confidencialidad de contraseña, y que Impulsideas no puede y no será responsable por cualquier pérdida o daño causado por su fracaso para mantener su contraseña segura.</span></p>
<p ><span>Además, Usted se compromete a salir de su cuenta al final de cada sesión. Usted reconoce y acepta que la Compañía podrá, a su entera discreción y en la medida permitida por la ley, acceder, leer, preservar y revelar la información de tu cuenta, historial de uso y contenido de usuario con el fin de: (a) cumplir con cualquier ley, regulaciones, procesos legales, pedidos del gobierno; (b) responder a reclamos de que algún Contenido viola los derechos de terceros, incluyendo los derechos de propiedad intelectual; (c) detectar, prevenir, o de cualquier modo abordar el fraude, seguridad o temas técnicos; (e) responder a sus solicitudes de servicio al cliente; o (f) proteger los derechos, propiedad o seguridad personal de Impulsideas, sus usuarios o el público. Usted no es de proporcionar su ID de usuario y contraseña en combinación con cualquier otra parte que no sea Impulsideas sin el permiso expreso y por escrito de Impulsideas.</span></p>
<p ><span>La Empresa se reserva el derecho, a su sola discreción, de negar el registro de o cancelar un ID de usuario, nombre de dominio, nombre de la tienda y el nombre del proyecto.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Emprendedores: Comercio Colaborativo</span></h2>
<p ><span>Impulsideas es una plataforma que puede permitir que ciertos usuarios ("Creadores de Campañas") tengan la disponibilidad de publicar una campaña de proyecto para exhibir y compartir información sobre el proyecto y obtener retroalimentación y ventas ("Contribuciones") de otros usuarios ("Vendedores") interesados a cambio de un artículo relacionado.</span></p>
<p ><span>Para crear una campaña de proyecto, el Creador debe completar todos los campos obligatorios del proceso de aplicación. Esto incluye el suministro y la elección de la configuración de la siguiente información:</span></p>
<ul>
  <li >
    <p ><span>La persona jurídica designada o persona en recibir los beneficios ("Beneficiario") debe ser definida, el beneficiario tiene que establecer una cuenta (la "Cuenta de Proyecto") con el procesador de pagos independiente designado (el "procesador") para recibir transacciones de este y que esa información se introduzca correctamente en la aplicación de la Campaña. Usted puede designarse a sí mismo como el beneficiario;</span></p>
  </li>
  <li >
    <p ><span>Una meta debe ser definida para las ventas totales que desea lograr durante su campaña de proyecto actual ("Meta Financiera");</span></p>
  </li>
  <li >
    <p ><span>Una meta debe ser definida para el tiempo necesario de campaña ("Fecha límite para ventas de proyecto");</span></p>
  </li>
  <li >
    <p ><span>La logística de la campaña trabajará en base a recolectar el monto de las ventas realizadas durante el tiempo establecido. Sin embargo, si logra la meta trazada se le compensará con una tarifa más baja para Impulsideas como un incentivo por lograr su objetivo (ver otros temas más adelante para detalles sobre las tarifas);</span></p>
  </li>
  <li>
    <p ><span>Seleccione el tipo de proyecto:</span></p>
    <ul>
      <li >
        <p ><span>Comercial, puede ser creado por cualquier tipo de usuario.</span></p>
      </li>
      <li >
        <p ><span>Sin fines de lucro, debe ser verificada su identidad fiscal y cualquier otro documento solicitado.</span></p>
      </li>
      <li >
        <p ><span>Caridad, sólo puede ser creado por usuarios que hacen ventas para ayudar a entidades por caridad.</span></p>
      </li>
    </ul>
  </li>
</ul>
<p ><span>Una campaña puede ser publicada sólo después de que el usuario haya presentado una solicitud a la Compañía y esta sea aprobada.</span></p>
<p ><span>Mediante la publicación de una campaña de proyecto en el Sitio, usted acuerda:</span></p>
<ul>
  <li >
    <p ><span>ofrecer sólo artículos no monetarios por promesas;</span></p>
  </li>
  <li >
    <p ><span>que todos los artículos que se ofrecen deben ser legales y cumplir con el Acuerdo en cuestión;</span></p>
  </li>
  <li >
    <p ><span>que cuando llegue a su Fecha límite de campaña, las ventas asociadas a su campaña se cerrarán automáticamente;</span></p>
  </li>
  <li >
    <p ><span>que una tercera parte podrá designar su campaña como favorita, o como de proyectos vistos, y puede agregarlo a la página del tercero o de la lista en el sitio;</span></p>
    <ul>
      <li>
        <p><span>Usted puede rechazar la designación anterior enviando un email a
                 <a href="servicio@impulsideas.com">servicio@impulsideas.com</a> con su petición particular.</span></p>
      </li>
    </ul>
  </li>
  <li >
    <p ><span>cumplir con todos los artículos y responder con prontitud a todas las preguntas y comentarios sobre estos;</span></p>
  </li>
  <li >
    <p ><span>que si usted no puede cumplir con un artículo, se trabaja con el usuario para llegar a una solución mutuamente satisfactoria que puede incluir, sin limitación, la emisión de un reembolso con prontitud;</span></p>
  </li>
  <li >
    <p ><span>que Impulsideas no se hace responsable del incumplimiento y la calidad de los artículos, ni de los que declinan o limitan de lo contrario en el presente Acuerdo;</span></p>
  </li>
  <li >
    <p ><span>las cuotas establecidas en las políticas del sitio, políticas de devolución y Políticas de Pago como son identificadas en el presente acuerdo;</span></p>
  </li>
  <li >
    <p ><span>pagar las tarifas establecidas para las transacciones de Servicios a través del Sitio;</span></p>
  </li>
  <li >
    <p ><span>que usted no tiene derecho a recolectar las ventas realizadas hasta que no se cumpla la meta de tiempo establecida;</span></p>
  </li>
  <li >
    <p ><span>que, debido a las fallas ocasionales de algunas tarjetas de crédito, el sitio no puede y no garantiza la recepción completa de la cantidad objetivo de financiación que aparece en su página de campaña de proyecto;</span></p>
  </li>
  <li >
    <p ><span>que el sitio no ofrece ninguna garantía con respecto al rendimiento o la justicia del procesador de pagos;</span></p>
  </li>
  <li >
    <p ><span>que, debido a las fallas ocasionales de los pagos de consumidores, Impulsideas no puede garantizar la recepción, por parte de los creadores de la campaña, de la cantidad reflejada;</span></p>
  </li>
  <li >
    <p ><span>que Impulsideas y sus socios de pago descontarán sus tarifas antes de la transferencia para cumplir con el monto neto informado en este Acuerdo;</span></p>
  </li>
  <li >
    <p ><span>Impulsideas no hace reembolsos;</span></p>
  </li>
  <li >
    <p ><span>asumir plena responsabilidad por el contenido de la página de campaña y el cumplimiento de las obligaciones, tanto implícitas como indicadas en esta página;</span></p>
  </li>
  <li >
    <p ><span>que su campaña de proyecto está sujeta al Contenido de Usuario, y a todos los términos y condiciones relacionados con el Acuerdo en cuestión; y</span></p>
  </li>
  <li >
    <p ><span>que Impulsideas puede cancelar, interrumpir o suspender a un recaudador de fondos en cualquier momento y por cualquier razón.</span></p>
  </li>
<p ><span>Todo lo recolectado para los creadores del proyecto será vía el servicio de PayPal ("PayPal"). Las Condiciones de uso, Política de privacidad, Política de uso aceptable, clave de pago y la información de servicio, así como cualquier otro acuerdo o actualización de los mismos correspondiente, están disponibles en la página
          <a href="https://www.paypal.com/webapps/mpp/ua/legalhub-full?country.x=US&locale.x=en_US">Políticas PayPal</a></span></p>
<p ><span>Impulsideas no será responsable de sus interacciones con las organizaciones y/o individuos encontrados a través del servicio del sitio. Esto incluye, pero no está limitado a, la entrega de bienes y servicios, y cualquier otro término, condición, garantía o representación asociada con anuncios en la web. El Sitio no supervisa el rendimiento o la puntualidad de los creadores de campañas. El Sitio no se hace responsable de los daños y perjuicios ocasionados como consecuencia de los daños o pérdidas sufridas como resultado de dichos tratos. Todas las negociaciones son exclusivamente entre usted y dichas organizaciones y/o individuos. El Sitio no tiene la obligación de involucrarse en las disputas entre los participantes y los creadores del proyecto, o entre el sitio de miembros de la comunidad y por terceros. En el caso de una disputa , usted libera al Sitio, sus funcionarios, empleados, agentes y sucesores de los reclamos, daños y demandas de cualquier naturaleza, conocidos o desconocidos, sospechados o insospechados, divulgados o no, resultantes de o en cualquier forma relacionados con dichos conflictos y nuestro servicio. El Sitio se reserva el derecho de anular una lista de proyectos y, que en dado caso, reembolsará todos los pagos asociados en cualquier momento y por cualquier motivo o sin motivo. El Sitio se reserva el derecho a eliminar una lista de productos de la oferta pública por cualquier razón o sin ninguna razón.</span></p>
<p ><span>El Sitio no ofrece ninguna garantía con respecto al rendimiento o la imparcialidad de PayPal. Los Creadores pueden reembolsar el importe a su propia discreción. El Sitio no es responsable de la emisión de los reembolsos de las ventas que han sido recogidos por las campañas de los Creadores.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Campañas de proyectos, ventas: ítems y artículos patrocinados</span></h2>
<p ><span>Como parte de una campaña de proyecto se pueden ofrecer artículos relacionados al proyecto y patrocinados por terceros. El producto de la venta de un artículo está vinculado a la campaña a que fue asociado inicialmente.</span></p>
<p ><span>Los usuarios ("Patrocinador (es)") pueden usar el sitio como un lugar para vender artículos o servicios de los cuales las ventas van directamente a una campaña de proyecto de su elección. Cuando un proyecto de soporte adquiere un artículo Patrocinado, su venta se compromete al Proyecto Vinculado inicialmente.</span></p>
<p ><span>Al comprometerse a una campaña de proyecto acepta que quedará vinculado por entero a este Acuerdo, incluyendo los siguientes términos:</span></p>
<ul>
  <li>
    <p ><span>comprometerse a una campaña específica es de su elección;</span></p>
  </li>
  <li>
    <p ><span>que Usted es el único responsable de la selección de la campaña indicada para contribuir con su compra;</span></p>
  </li>
  <li>
    <p ><span>que Comprometerse a una campaña no le da ningún derecho a las ventas, incluyendo sin limitación, cualquier propiedad, el control o los derechos de distribución;</span></p>
  </li>
  <li>
    <p ><span>que la campaña de proyecto del Creador tendrá libertad para solicitar otro tipo de financiación para lograr las ventas, celebrar contratos para ventas o asignar derechos, y de otra manera redirigir las ventas a su entera discreción;</span></p>
  </li>
  <li>
    <p ><span>que Impulsideas no garantiza que los artículos serán entregados o satisfactorios para usted;</span></p>
  </li>
  <li>
    <p ><span>Impulsideas no garantiza el uso de las ventas para lo prometido en la campaña;</span></p>
  </li>
  <li>
    <p ><span>los participantes acuerdan proporcionar su información de pago en el momento en que se comprometen a una campaña. El pago se recogerá en o después del plazo temporal establecido. La cantidad generada por los participantes, menos los fees correspondientes, es la cantidad que se cobrará;</span></p>
  </li>
  <li>
    <p ><span>los participantes con consentimiento de Impulsideas y sus socios de pagos autorizan o reservan un cargo en su tarjeta de pago u otro método de pago para cualquier cantidad en cualquier momento entre la transacción y la recolección de los beneficios;</span></p>
  </li>
  <li>
    <p ><span>los participantes acuerdan tener fondos o crédito suficiente en la fecha límite del proyecto para asegurar que lo vendido será recolectado;</span></p>
  </li>
  <li>
    <p ><span>los participantes solo pueden aumentar (no disminuir ni anular su compra) en cualquier momento durante la campaña;</span></p>
  </li>
  <li>
    <p ><span>para todos los creadores de campañas, Impulsideas da el ID de usuario;</span></p>
  </li>
  <li>
    <p ><span>para la campaña terminar con éxito, Impulsideas da adicionalmente al Creador y al Patrocinador nombre y correo electrónico de cada consumidor que se interesó en el proyecto y/o producto;</span></p>
  </li>
  <li>
    <p ><span>para algunos productos, la campaña de los Creadores y/o los patrocinadores necesitan más información de los consumidores, como la dirección de correo, para permitir que los productos lleguen satisfactoriamente. El Patrocinador de Campaña del Creador o artículo deberá solicitar la información directamente a los consumidores en algún momento después de terminar la campaña correctamente. Para recibir el artículo, los consumidores están de acuerdo en proporcionar la información solicitada a la campaña de proyecto del Creador o artículo Patrocinador dentro de un período de tiempo razonable;</span></p>
  </li>
  <li>
    <p ><span>Impulsideas no ofrece reembolsos;</span></p>
  </li>
  <li>
    <p ><span>Impulsideas no es responsable por:</span></p>
    <ul>
      <li>
        <p ><span>cualquier campaña no alcanzar su meta;</span></p>
      </li>
      <li>
        <p ><span>cualquier error u omisión en la cuenta de financiación provocada por el procesador de pago; y</span></p>
      </li>
      <li>
        <p ><span>el fracaso del procesador de pagos o de la campaña del Creador para cumplir con sus artículos;</span></p>
      </li>
    </ul>
  </li>
  <li>
    <p ><span>que Impulsideas no hace ninguna representación con respecto a la deducibilidad de cualquier transacción a efectos impositivos;</span></p>
  </li>
  <li>
    <p ><span>un Creador no está obligado a acceder a una solicitud de Consumidor para un reembolso a menos que la campaña del Creador no pueda cumplir con el artículo;</span></p>
  </li>
  <li>
    <p ><span>los creadores tienen la obligación de cumplir con todos los artículos de sus campañas y recompensar cualquier Consumidor con el que  cuyo artículo no se haya cumplido; y</span></p>
  </li>
  <li>
    <p ><span>Creadores de campañas pueden cancelar o devolver los artículos de un consumidor en cualquier momento y por cualquier razón, y si lo hacen, no están obligados a cumplir con el artículo.</span></p>
  </li>
</ul>
<p ><span>Una transacción de venta en el Sitio es un acuerdo exclusivo entre el Creador y el Comprador. La transacción de venta Patrocinada en el sitio es un acuerdo exclusivo entre el patrocinador y el servicio/producto de dicha venta que va directamente a la campaña del Creador. La campaña del Creador o el artículo patrocinado se compromete a transferir la propiedad del artículo o ítem patrocinado, a cambio de que el Comprador se comprometa a dar el precio de compra a la campaña del Creador. La entrega y los sistemas de provisión con respecto a cualquier artículo será realizado directamente entre el Comprador y el Vendedor; el Sitio no tendrá ninguna obligación o responsabilidad que surja en relación con el mismo o relativa al mismo. Los sistemas de entrega y provisión con respecto a cualquier producto patrocinado se harán directamente entre el Comprador y el patrocinador de productos; el Sitio no tiene obligación o responsabilidad que surja en relación con el mismo o relativa al mismo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Servicio de tienda virtual (E-Commerce)</span></h2>
<p ><span>Impulsideas proporciona la opción a ciertos Usuarios ("Detallistas") , de abrir una tienda virtual para colocar productos o servicios ("Ítems" o “Artículos”), a un precio fijo, a la venta de otros usuarios ("Consumidores").</span></p>
<p ><span>Al colocar los artículos en una tienda virtual Usted acepta lo siguiente:</span></p>
<ul>
  <li>
    <p ><span>Todos los ítems publicados deben estar a la venta;</span></p>
  </li>
  <li>
    <p ><span>Usted está legalmente autorizado para vender los artículos;</span></p>
  </li>
  <li>
    <p ><span>Garantizar que el artículo cumpla con las políticas del sitio y del presente Acuerdo;</span></p>
  </li>
  <li>
    <p ><span>Describir su artículo con precisión al igual que todos los términos de la venta;</span></p>
  </li>
  <li>
    <p ><span>Su anuncio sólo puede incluir descripciones de texto, gráfico, vídeos, fotos y otros contenidos relevantes a la venta del artículo;</span></p>
  </li>
  <li>
    <p ><span>Todos los artículos deben estar inscritos en la categoría apropiada con etiquetas apropiadas;</span></p>
  </li>
  <li>
    <p ><span>Los artículos no pueden estar identificados por el Estado Dominicano a través de Proconsumidor como de riesgo para los consumidores;</span></p>
  </li>
  <li>
    <p ><span>Si la cantidad "en existencia" (in stock) es más de uno, todos los elementos de esa lista deben ser idénticos; y</span></p>
  </li>
  <li>
    <p ><span>Cada artículo único debe tener su propia descripción detallada.</span></p>
  </li>
</ul>
<p ><span>Se insta a todos los comerciantes Detallistas a establecer sus políticas de tienda virtual. Estas políticas pueden incluir, por ejemplo, detalles sobre envío, devoluciones y pago. Los comerciantes deben crear políticas razonables de buena fe y deben cumplir con esas políticas. Todas las políticas de Tienda Virtual deben cumplir con las políticas de todo el sitio Impulsideas. Los comerciantes son responsables de hacer cumplir sus propias políticas de Tienda Virtual. Impulsideas se reserva el derecho de solicitar al vendedor la modificación de alguna política de la tienda.</span></p>
<p ><span>Los comerciantes son responsables de describir con precisión sus artículos , y los compradores son responsables de leer la descripción de los artículos antes de hacer una compra. Todas las ventas son vinculantes. El comerciante está obligado a enviar la orden o si no completar la transacción con el comprador de una manera rápida, a menos que existan circunstancias excepcionales, tales como: ( i ) el comprador no cumple con los términos de la oferta del comerciante (como método de pago ) o ( ii ) el comerciante no puede validar la identidad del comprador. El comprador está obligado a entregar el pago correspondiente de los artículos comprados, a menos que exista una circunstancia excepcional.</span></span>
<p ><span>El precio indicado en cada artículo descrito debe ser una representación precisa de la venta. Los comerciantes podrán cobrar los gastos de envío razonables para cubrir los costes de embalaje y envío de los artículos. Los comerciantes no pueden cobrar gastos de envío excesivos o evadir otros cargos impuestos en el proceso. No se puede alterar el precio del producto después de una venta con el fin de evadir los respectivos cargos de Impulsideas y/o el procesador de pagos, tergiversar la ubicación del artículo, o utilizar la cuenta de otro usuario sin permiso.</span></p>
<p ><span>En la compra de un artículo, usted acepta que:</span></p>
<ul>
  <li>
    <p ><span>usted es responsable de leer la descripción completa del artículo antes de hacer un compromiso de compra;</span></p>
  </li>
  <li>
    <p ><span>usted está entrando en un contrato legalmente vinculado a la compra de artículos cuando hace la transacción de comprar un artículo; y</span></p>
  </li>
  <li>
    <p ><span>no transferimos la propiedad legal de los artículos del vendedor al comprador.</span></p>
  </li>
</ul>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Comisiones</span></h2>
<p ><span>El registro en Impulsideas es gratuito. Sin embargo, existen ciertos cargos por determinados servicios en el sitio:</span></p>
<ul>
  <li>
    <p ><span>Cuota de un 9% del monto total logrado, si no llega a su meta de ventas establecida inicialmente, más los cargos del procesador de pago asociado (Comisión estándar de PayPal: 2.9 % + $ 0.30 por transacción).</span></p>
  </li>
  <li>
    <p ><span>Cuota de un 5% del monto total logrado, si llega a su meta de ventas establecida inicialmente, más los cargos del procesador de pago asociado (Comisión estándar de PayPal: 2.9 % + $ 0.30 por transacción).</span></p>
  </li>
</ul>
<p ><span>Esta variación de comisiones se establece con el propósito de motivar a los participantes a impulsar el proyecto a lograr la Meta Financiera  trazada.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>El Pago de Fondos a Comerciantes Colaboradores</span></h2>
<p ><span>Todos los fondos que han contribuido a un proyecto excluyendo nuestras comisiones, tal como se describe en el presente Acuerdo, serán remitidos al comerciante colaborador. Impulsideas no es responsable de cualquier error u omisión en la cuenta de transacción provocada por el procesador de pagos y la falta del procesador de pago en transferir lo prometido al comerciante colaborador.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Recepción de lo Prometido</span></h2>
<p ><span>Impulsideas no garantiza ni hace ninguna afirmación sobre el impuesto deducible de las promesas a los proyectos marcados como sin fines de lucro. Usted recibirá un correo electrónico poco después de que aporten los recursos a su proyecto. Por favor imprima una copia de su recibo de correo electrónico y consérvelo como un registro de su promesa. Para solicitar una copia adicional de este recibo, por favor envíenos un email a
          <a href="servicio@impulsideas.com">servicio@impulsideas.com</a></span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Contenido del Usuario y Garantía de No Infracción</span></h2>
<h3 ><span>Concesión de Licencia de Contenido de Usuario</span></h3>
<p ><span>Cuando nos proporcionan contenido, contenido del usuario o contenido de publicación usando nuestros servicios, nos concede una licencia no exclusiva, mundial, perpetua e irrevocable, libre de regalías, sublicenciable (a través de múltiples niveles), el ejercicio de ejercer cualquier  y todo derecho de autor, de publicidad, marcas, los derechos de base de datos y los derechos de propiedad intelectual que tenga en el contenido, en cualquier medio conocido ahora o en el futuro. Además, en la máxima medida permitida por la ley aplicable, usted renuncia a sus derechos morales y promete no hacer valer esos derechos contra nosotros, nuestros licenciatarios o cesionarios.</span></p>
<p ><span>Usted manifiesta y garantiza que ninguno de los siguientes elementos infringe ningún derecho de propiedad intelectual: el suministro de contenido a nosotros, su publicación de contenido usando los servicios, y nuestro uso de dicho contenido (incluyendo las obras derivadas de él) en relación con los Servicios.</span></p>
<h3 ><span>Disputas con Usuarios o Terceros</span></h3>
<p ><span>En el caso de que surja una disputa entre usted y otro usuario o de un tercero, Impulsideas le anima a ponerse en contacto con el usuario o un tercero para resolver el litigio de forma amistosa.</span></p>
<p ><span>Si un comprador y el dueño de la tienda no son capaces de resolver una controversia que resulte de una transacción que se produce en Impulsideas, pueden optar por comunicarse con Impulsideas con el fin de obtener datos puntuales y objetivos para resolver la disputa. Los casos son escalados al departamento respectivo según la información y data solicitada para la resolución. Impulsideas proporciona su proceso de resolución de disputas para el beneficio de los usuarios. Impulsideas lo hace en su sola discreción, e Impulsideas no tiene la obligación de resolver las controversias entre usuarios o entre usuarios y terceros. En la medida en que Impulsideas intente resolver una disputa lo hará de buena fe basándose únicamente en las políticas de la Impulsideas. Impulsideas no hace juicios respecto a asuntos legales o reclamaciones.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Política de Reembolso</span></h2>
<p ><span>Si un usuario reclama un cargo de tarjeta de crédito o de débito en relación con una venta, y esta resulta en un reembolso, la Compañía tendrá derecho a deducir el monto de los fondos cobrados o reembolsados, así como todos los costos y cargos asociados con cualquier reembolso, de campañas con fondos en proceso a recaudar como cuenta por cobrar al emprendedor en cuestión. Si no existen tales fondos futuros, debido a que el emprendedor no tiene más campañas en proceso, emitiremos una factura por dicho monto, incluyendo costos y honorarios, que el emprendedor se comprometerá a pagar a la Compañía dentro de treinta (30) días de la fecha de la factura.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Sitio Web de Terceros</span></h2>
<p ><span>Impulsideas puede contener enlaces a sitios Web de terceros, anunciantes, o servicios que no sean propiedad o estén controlados por Impulsideas. Impulsideas no tiene control sobre, y no asume ninguna responsabilidad por el contenido, políticas de privacidad o prácticas de ningún sitio web o servicios de terceros. Si usted accede a un sitio web de terceros a partir de Impulsideas, lo hace bajo su propio riesgo, y usted entiende que este Acuerdo y las Políticas de Privacidad de Impulsideas no se aplican al uso de tales sitios. Usted libera expresamente a Impulsideas de toda responsabilidad derivada del uso de cualquier sitio web de terceros o de los servicios o del contenido propiedad de terceros. Además, su negociación o participación en promociones de anunciantes encontrados en Impulsideas, incluyendo el pago y entrega de bienes y otras condiciones (tales como garantías) son exclusivamente entre usted y dichos anunciantes. Usted acepta que Impulsideas no será responsable de cualquier pérdida o daño de ningún tipo en relación con sus transacciones con dichos anunciantes.</span></p>
<p ><span>Le recomendamos tomar en cuenta leer los términos y condiciones y las políticas de privacidad de cualquier sitio web de terceros o servicio externo utilizado.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Derechos de Propiedad</span></h2>
<p ><span>Impulsideas, el logotipo de "Impulsideas" y otros gráficos de Impulsideas, logotipos, diseños, encabezados de página, íconos de botones, scripts, nombres y marcas son marcas comerciales, marcas de servicio o marcas de Grupo GAPEK ("Marcas GG"). Las marcas GG no se pueden utilizar, incluyendo, sin limitación, como parte de las marcas o nombres de dominio, en relación con cualquier producto o servicio que pueda causar confusión de alguna manera y no pueden ser copiados, imitados o utilizados, en su totalidad o en parte, sin el permiso previo por escrito de Grupo GAPEK. La Empresa se ​​reserva todos los derechos de propiedad del Sitio y todo el contenido, el material y la información publicada, cargada, transmitida o por el contrario compartida por República Dominicana por lo que al respecto El SITIO contiene el material con derechos de autor, marcas registradas y otra información de propiedad de Grupo GAPEK. Usted puede mostrar y hacer copias limitadas del contenido (excepto de las Marcas GG) para su uso personal no comercial en relación con su participación en el servicio (con excepción de lo dispuesto en el mismo), pero usted no puede alterar, modificar, publicar, distribuir, mostrar públicamente o vender cualquier contenido u otra información de propiedad, o de otra manera copiar, transmitir o utilizar cualquier contenido u otra información de propiedad sin el permiso expreso y por escrito de Grupo GAPEK.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Terminación</span></h2>
<p ><span>La Sociedad podrá suspender el acceso a la WEB por completo o parcialmente, en cualquier momento, con o sin causa, con o sin previo aviso, con efecto inmediato, lo que puede resultar en la confiscación y destrucción de toda la información asociada con su membresía. Si desea cancelar su cuenta, puede hacerlo siguiendo las instrucciones que aparecen en la WEB. Las tasas pagadas al momento no son reembolsables. Todas las disposiciones de las condiciones de uso que por su naturaleza deberían mantenerse a pesar de  la terminación permanecerán, incluyendo, sin limitación, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Renuncias</span></h2>
<p ><span>La Compañía no tiene ninguna relación especial o deber fiduciario con USTED. Usted reconoce que no tiene control sobre, y no está obligado a tomar ninguna medida en relación con:</span></p>
<ul>
  <li>
    <p ><span>cuáles usuarios tienen acceso al Sitio Web;</span></p>
  </li>
  <li>
    <p ><span>el Contenido de Usuario u otro Contenido que acceda a través del Sitio;</span></p>
  </li>
  <li>
    <p ><span>los efectos del Contenido de Usuario u otros contenidos sobre usted;</span></p>
  </li>
  <li>
    <p ><span>cómo pueda interpretar o utilizar el Contenido; o</span></p>
  </li>
  <li>
    <p ><span>qué acciones pueda tomar como resultado de haber sido expuesto al Contenido de Usuario u otros contenidos.</span></p>
  </li>
</ul>
<p ><span>La Compañía no es responsable, y no será responsable por cualquier contenido incorrecto o impreciso publicado en el Sitio o cualquier responsabilidad, coste o gasto que pueda incurrir en relación con el sitio, ya sea causado por cualquier usuario u otra persona o por cualquiera de los equipos o programas asociados con o utilizados en la WEB. Grupo GAPEK no es responsable de la conducta, ya sea online u offline, de cualquier usuario del Sitio o de cualquier otra persona. Con respecto a la WEB, Grupo GAPEK no asume ninguna responsabilidad por cualquier error, omisión, interrupción, eliminación, defecto, retraso en la operación o transmisión, fallas en las líneas de comunicación, robo o destrucción o acceso no autorizado, o alteración de cualquier comunicación.</span></p>
<p ><span>Bajo ninguna circunstancia la Compañía será responsable por cualquier pérdida o daño, incluyendo, sin limitación, lesiones personales o la muerte, resultantes de cualquier uso de la WEB, de cualquier contenido publicado, cargado, enviado, transmitido o compartido de otro modo en el Sitio o cualquiera de las interacciones entre cualquiera de los usuarios del Sitio, ya sea en línea (online) o fuera de línea (Offline). No representamos, orden judicial, pacto, garantía o prometemos ningún resultado específico por el uso de la WEB.</span></p>
<p ><span>EL SITIO, INCLUYENDO, SIN LIMITACIÓN , CUALQUIER CONTENIDO O INFORMACIÓN CONTENIDA EN ÉL O DE CUALQUIER SERVICIO O CONSEJO PROPORCIONADO EN RELACIÓN CON EL SITIO, SE PROPORCIONA "TAL CUAL" SIN NINGUNA REPRESENTACIÓN O GARANTÍA DE NINGÚN TIPO, EXPRESA O IMPLÍCITA , INCLUYENDO, PERO NO LIMITADA A, LAS GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. USTED ASUME TODA LA RESPONSABILIDAD Y RIESGO POR EL USO DE LA PÁGINA WEB.</span></p>
<p ><span>La Compañía no hace ninguna representación o garantía, expresa o implícita, con respecto a cualquier dato de terceros prestados a nosotros o su transmisión, la puntualidad, la exactitud o integridad, incluyendo pero no limitado a las garantías implícitas o las garantías de comercialización o aptitud para un propósito en particular. Grupo GAPEK no será responsable en modo alguno de usted o cualquier otra persona por cualquier inexactitud, error o demora en la u omisión de cualquier dato de terceros o la transmisión o entrega de cualquier dato de terceros y cualquier pérdida o daño causado por (a) cualquier inexactitud, error, retardo u omisión, (b) incumplimiento o (c) la interrupción en cualquiera de dichos datos de terceros, ya sea debido a un acto de negligencia u omisión por parte de Grupo GAPEK o "fuerza mayor" o cualquier otra causa ajena al control de Grupo GAPEK.</span></p>
<p ><span>La Empresa se reserva el derecho, pero se exime de cualquier obligación o responsabilidad, de (a) rechazar el envío o comunicar o eliminar cualquier Contenido de Usuario del SITIO que viole estos términos de uso (incluyendo las Reglas de Conducta) e (b) identificar a ningún usuario a terceros, y/o divulgar a terceros cualquier comunicación o información de identificación personal, cuando creemos de buena fe que dicha identificación o divulgación (i) facilitará el cumplimiento de las leyes, incluyendo, por ejemplo, el cumplimiento de una orden judicial o citación, o (ii) ayudará para hacer cumplir estos términos de uso (incluyendo las Reglas de Conducta) y/o con nuestros concursos, sorteos, promociones y las reglas del juego, y/o proteger la seguridad o la seguridad de cualquier persona o propiedad, incluyendo el SITIO. Por otra parte, nos reservamos todos los derechos de eliminar el contenido de usuario en cualquier momento y por cualquier motivo o sin motivo alguno.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Renuncia y Liberación</span></h2>
<h3 ><span>Disputas de Usuario</span></h3>
<p ><span>Si usted tiene una disputa con uno o más usuarios, usted libera a la Compañía, sus socios, directores, funcionarios, empleados, agentes, representantes y afiliados, de las reclamaciones, demandas y daños (reales y consecuentes) de cualquier tipo y naturaleza, conocidos y desconocidos, que surjan de o estén relacionados de alguna manera con dichos conflictos.</span></p>
<h3 ><span>Reembolso de Venta</span></h3>
<p ><span>Usted acepta renunciar a todos los derechos que usted pueda tener a exigir un reembolso o la cancelación de la venta en virtud de cualquier ley, norma o reglamento.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Limitación de la Responsabilidad</span></h2>
<p ><span>BAJO NINGUNA CIRCUNSTANCIA, INCLUYENDO NEGLIGENCIA, serán la Sociedad, o sus miembros, ADMINISTRADORES, FUNCIONARIOS, DIRECTORES, EMPLEADOS, AGENTES, REPRESENTANTES O AFILIADOS, RESPONSABLES ANTE USTED O CUALQUIER OTRA PERSONA O ENTIDAD POR DAÑOS DIRECTOS, INDIRECTOS, ESPECIALES O EMERGENTES INCLUYENDO LA PÉRDIDA DE BENEFICIOS, DAÑOS PERSONALES (INCLUYENDO LA MUERTE) Y DAÑOS A PROPIEDAD DE CUALQUIER NATURALEZA, COMO RESULTADO DE (A) EL USO O LA IMPOSIBILIDAD DE USO DEL SITIO O CONTENIDO, O (B) LA CONDUCTA O ACCIONES, YA SEA online u offline, de cualquier usuario del SITIO O CUALQUIER OTRA PERSONA O ENTIDAD, INCLUSO SI SE NOS HA ADVERTIDO DE LA POSIBILIDAD DE TALES DAÑOS. EN NINGÚN CASO ES NUESTRA RESPONSABILIDAD TOTAL HACIA USTED POR TODOS LOS DAÑOS, PÉRDIDAS Y CAUSAS DE ACCIÓN YA SEA EN CONTRATO, AGRAVIO (INCLUYENDO NEGLIGENCIA) O CUALQUIER OTRA FORMA. POR OTRA PARTE, EN NINGÚN CASO LA COMPAÑÍA SERÁ RESPONSABLE POR CUALQUIER RETRASO O FALTA DE RENDIMIENTO QUE RESULTEN DIRECTA O INDIRECTAMENTE DE UN ACTO DE FUERZA MAYOR O CAUSAS MÁS ALLÁ DE NUESTRO O SU CONTROL RAZONABLE. PODEMOS BLOQUEAR SU ACCESO AL SITIO O CAMBIAR EL SITIO O ELIMINAR EL CONTENIDO O SERVICIOS DE CUALQUIER MANERA, EN CUALQUIER MOMENTO Y POR CUALQUIER MOTIVO O SIN MOTIVO ALGUNO. LAS LIMITACIONES Y EXCLUSIONES EN ESTA SECCIÓN Y EN OTRA PARTE DE ESTOS TÉRMINOS DE USO SE APLICAN EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY APLICABLE.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Indemnización</span></h2>
<p ><span>Usted acepta indemnizar y mantener indemnizada a la Compañía, sus socios, directores, funcionarios, empleados, agentes o representantes, de y contra toda responsabilidad, reclamos, costos y gastos, incluyendo los honorarios razonables de abogados, que resulten de, surgir de o están relacionadas con él, su uso o mal uso de, o acceso a, el Sitio, el Contenido o de otra manera de su Contenido de Usuario, la violación de las condiciones de uso, o la violación por usted o cualquier tercero que utilice la causa de ustedes, de cualquier propiedad intelectual o cualquier otro derecho de cualquier persona o entidad. La Empresa se reserva el derecho de asumir la defensa exclusiva y control de cualquier asunto sujeto a indemnización por usted, en cuyo caso usted deberá asistir y cooperar con nosotros para hacer valer cualquier defensa disponible.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Ley Aplicable</span></h2>
<p ><span>Estos Términos de Uso (y cualquier documento incorporado al presente por referencia) se regirán e interpretarán de conformidad con las leyes de República Dominicana, sin dar efecto a cualquier principio de conflicto de leyes. Usted acepta que la Compañía (y todos los servicios) se considera un sitio web pasivo que no da lugar a jurisdicción personal sobre la sociedad, o de sus miembros, directivos, funcionarios, directores, empleados, agentes, representantes o afiliados, ya sea específica o general, en cualquier jurisdicción que no sea República Dominicana. Usted acepta que cualquier acción legal o de equidad que surja de o esté relacionada con estos términos, o su uso o no uso de los Servicios, se presentará sólo en los tribunales ubicados en República Dominicana y por consiguiente Usted consiente y se somete a la jurisdicción personal de dichos tribunales a los fines de litigar cualquier acción. USTED irrevocablemente renuncia a cualquier derecho que pueda tener a un juicio por jurado en cualquier litigio, acción o procedimiento.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Impuestos</span></h2>
<p ><span>Usted es responsable de la determinación de cualquier y todos los impuestos y derechos, incluyendo sin limitación, las ventas, uso, transferencia, valor agregado, retenciones, ingresos y otros impuestos y/o derechos liquidados, incurrido, o que deban cobrar, pagado o retenido por cualquier motivo en relación con cualquier solicitud de prestaciones o de servicio, su uso del Sitio, la venta o la compra de cualquier producto o servicio para una transacción, o de otra manera en relación con cualquier acción, inacción u omisión por usted o cualquier filial de el suyo, o cualquiera de su o sus empleados respectivos, agentes, contratistas o representantes ("Impuestos"). Usted también es responsable de la recolección, retención, elaboración de informes y remisión correctas de impuestos a la autoridad fiscal correspondiente. La Compañía no tendrá ninguna obligación de determinar si se aplican impuestos, y no será responsable de calcular, recaudar, generar informes o remitir cualquier Impuesto a cualquier autoridad fiscal derivada de cualquier transacción.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Internacional</span></h2>
<p ><span>Acceso al sitio se le prohíbe a los países, territorios, estados o localidades en que dicho contenido es ilegal. Cualquier oferta de cualquier producto, servicio, y/o información de hecho en relación con el Sitio es nulo donde esté prohibido. Si usted accede o utiliza el Sitio o cualquier servicio proporcionado por o a través del Sitio, lo hace bajo su propia iniciativa y es responsable de cumplir con todas las leyes, normas y reglamentos.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Cesión</span></h2>
<p ><span>El usuario no tendrá ningún derecho o poder de transferir o asignar ningún derecho o privilegio conferido por las condiciones de uso sin el consentimiento escrito de la Compañía, y cualquier presunta transferencia o cesión será nula y sin efecto. La Compañía tendrá derecho a ceder cualquiera de sus derechos, privilegios, deberes u obligaciones sin restricciones, y sin el consentimiento del usuario.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Comunicación/Notificación</span></h2>
<p ><span>Al utilizar el Sitio, usted acepta recibir comunicaciones de la Compañía en forma electrónica. Podemos comunicarnos con usted por correo electrónico o mediante la publicación de avisos en el Sitio. Usted acepta que todos los acuerdos, avisos, divulgaciones y otras comunicaciones que le proporcionamos electrónicamente satisfacen cualquier requisito legal que dichas comunicaciones sean por escrito.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>No Agencia</span></h2>
<p ><span>Ninguna disposición del presente Acuerdo tiene por objeto o crea cualquier tipo de empresa conjunta, empleador-trabajador, acreedor-deudor, fideicomiso, asociación, o cualquier relación fiduciaria entre usted, nosotros o nuestros afiliados.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Enmienda</span></h2>
<p ><span>La Sociedad podrá modificar los términos de este Contrato (incluyendo cualquier documento incorporado aquí como referencia) o de las características del servicio en cualquier momento. Publicaremos los Términos de Uso modificados para el sitio y enviaremos un aviso de los cambios materiales a la dirección electrónica en su perfil. Cualquier modificación de las condiciones será efectiva después de su publicación en nuestro sitio o cuando se comunique lo contrario a ti, lo que ocurra primero. Un "Cambio de Material" se limita a cualquier cambio que suponga aumento de las tarifas o responsabilidad para usted. Cualquier cambio sustancial en el presente Acuerdo entra en vigor a los treinta (30) días de la fecha de publicación. Se considerará que aceptará cualquier cambio material si usted utiliza el Sitio después del plazo de preaviso de treinta (30) días, y (b) cualquier otro cambio si utiliza el Sitio, después de la publicación de los nuevos términos de uso. Si usted no acepta un cambio en las condiciones de uso, su única alternativa es ponerse en contacto con nosotros y cerrar su cuenta. Usted es responsable en todo momento de la lectura y la comprensión de cada versión de este Acuerdo, incluyendo todos los documentos incorporados aquí por referencia. USTED es responsable de la actualización de su información personal para ofrecernos su dirección de e -mail actual. En el caso de que la última dirección de correo electrónico que usted haya proporcionado no sea válida, o por cualquier otra razón no es capaz de recibir el aviso descrito anteriormente, nuestro envío del correo electrónico con dicha notificación, no obstante, se constituirá en aviso efectivo de cualquier modificación descrita en la notificación.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>No Renuncia</span></h2>
<p ><span>No se considerará que ha renunciado a ninguno de nuestros derechos o recursos, o parte de ellas, a menos que la renuncia sea por escrito y firmado por nosotros. Nuestra incapacidad para hacer cumplir el estricto cumplimiento de cualquier disposición de este Acuerdo no constituirá una renuncia a nuestro derecho de hacer cumplir posteriormente tal disposición o cualquier otra disposición de este Acuerdo.</span></p>
<p><span><span>&nbsp;</span></span></p>
<h2 ><span>Completo Acuerdo, Nulidad, Secciones y Partidas</span></h2>
<p ><span>Este ACUERDO, aceptado sobre el acceso y uso de la WEB y que además afirmó al abrir una cuenta de usuario, contiene el acuerdo completo entre usted y Grupo GAPEK en relación con el uso de la WEB. Este Acuerdo no podrá ser enmendado oralmente. Si alguna disposición de este Acuerdo no es válida, el resto de este Acuerdo continuará en pleno vigor y efecto. Secciones y partidas de este manual son para los propósitos de la organización, y no serán utilizados en la interpretación de este Acuerdo.</span></p>
</div>
</div>
