.survival-nav-bar{
    display: flex;
    margin-bottom: 20px;
    align-content: center;
    border-radius: 4px;
    background: linear-gradient(45deg,#000000 30%, #db2424 110%);
    box-shadow: 5px 5px 5px #88888848;
    height: 80px;
    padding: 5px 5px 5px 5px;
}

.depth-rank{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px black;
    padding: 8px 10px 8px 10px;
    margin-right: 5px;
    background-color: black;
    border-radius: 4px;
    align-self: center;
    margin-left: auto;
    text-align: center;
    color: white;
}

.roll-container{
    display: flex;
    justify-content: center;
}

.roll-button:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    background-color: black;
    color: white;
}

.roll-button{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px black;
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.246);
    padding: 8px 10px 8px 10px;
    color: black;
}

.monster-cards{
    display: flex;
    justify-content: space-around;
}

.monster-card{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px white;
    background-color: rgb(63, 63, 63);
    box-shadow: 5px 5px 5px #88888848;
    margin-bottom: 20px;
    height: 180px;
    width: 130px;
    color: white;
    border-radius: 3px;
}

.monster-card-name{
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px black;
    background-color: rgb(173, 57, 57);
    color: white;
}

.monster-type{
    font-size: 12px;
}

.monster-health{
    background-color: rgb(65, 163, 65);
    width: 100%;
    text-align: center;
    color: white;
}

.monster-initiative{
    margin-top: 5px;
    text-align: center;
}

.monster-status{
    text-align: center;
    margin-top: 35px;
    font-size: 13px;
}

.hide{
    display: none;
}

.highlight-card{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px #88888848;
    margin-bottom: 20px;
    height: 180px;
    width: 130px;
    border-radius: 3px;
    border: solid 2px rgb(236, 123, 57);
}

.attack-buttn{
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    border: solid 1px black;
    border-radius: 4px;
    background-color: rgb(110, 110, 110);
    padding: 3px 5px 3px 5px;
    color: white;
    margin-top: auto;
    margin-bottom: 5px;
    text-align: center;
}

.attack-buttn:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    background-color: white;
    color: black;
}


.death-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(143, 53, 53);
    padding: 10px 0px 10px 0px;
}

.you-died{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}


.loot-button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.loot-button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.246);
    border: solid 1px black;
    border-radius: 3px;
    color: black;
    padding: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #88888848;
}

.loot-button:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    background-color: black;
    color: white;
}


.level-up-button{
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.246);
    border-radius: 4px;
    box-shadow: 5px 5px 5px #88888848;
    color: black;
    padding: 5px 5px 5px 5px;
}

.level-up-button:hover{
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    background-color: black;
    color: white;
}