.About-card {
  position: relative;
  z-index: 0;
  padding: 60px;
  max-width: 660px;
  min-height: 440px;
  width: 80%;
  margin: auto;
  color: black;
}

.About-card:before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  content: "";
  background: #fff;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.About-card:after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  content: "";
  background: #fff;
  -webkit-transform: rotate(1.1deg);
  -ms-transform: rotate(1.1deg);
  transform: rotate(1.1deg);
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

.About-card .text-wrap {
  position: relative;
  z-index: 1;
  text-align: left;
}

.About-card p {
  font-size: 20px;
  line-height: 1.8;
  z-index: 2;
}

a.contact-link {
  text-decoration: underline;
  color: #454d53;
}
