.creation__container {
  z-index: 999;
  background-color: white;
}

.hero__selector {
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.unselected {
  filter: grayscale(100%);
  opacity: 1;
}

.unselected:hover {
  filter: none;
  opacity: 1;
}

.selected {
  filter: none;
}

.kitty {
  margin-left: -200px;
  z-index: 999;
  width: 300px;
  height: 100%;
}
