<%= simple_form_for [@project, @contribution] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount, label: 'Cantidad', placeholder: 'RD$ 1,000' %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, 'Pagar con Paypal', class: 'btn btn-success' %>
  </div>
<% end %>
