
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: lightblue;
}

.avi {
  width: 1rem;
  height: 1rem;
}

.nav {
  position: absolute;
  top: 0;
  right: 1rem;
}

.l-twins > button {
  width: 4rem;
  margin: 0 0.2rem;
}

/* Enter Forms Layout */
.l-enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* background-color: aquamarine; */
}
.l-enter > h2 {
  margin: 0;
}
.l-exit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* splash.pug */
.l-hook1 {
  text-align: center;
}

.hk1-topics > button {
  margin: 0.3rem;
  padding: 0.5rem;
}
.hk1-topics > button::before {
  content: "🍄 ";
}
.hk1-btnjoin {
  margin: 1rem auto;
  padding: 1rem;
  width: 60vw;
}

#footer {
  background-color: goldenrod;
  margin: 0;
  padding: 1rem;
}
.ftr-nav {
  display: flex;
  
}
.ftr-nav > ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}