@import url(./index2.css) screen;

/* Universal Selector - * - Selects EVERYTHING - No weight (0-0-0) */
* {
  color: black;
}

/* Element Selector - Selects every element - Least weight (0-0-1) */
h2 {
  display: run-in;
  color: red;
}

/* Class Selector - . - Selects by class - Middle weight (0-1-0) */
.headers {
  background: pink;
}

/* ID Selector - # - Selects by ID - Most weight (1-0-0) */
#list-item-01 {
  color: green;
}

/* Combinators - > - direct children of an element - Reads as li's that do not have the id list-item-01 that are direct children of a ul*/
ul > li:not(#list-item-01) {
  background-color: black;
  color: yellow;
}
