.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 250px; */
  padding: 1rem 20%;
  background-color: #453355;
  text-align: center;
  margin-top: 5em;
}
.mainFooter *, .mainFooter a {
  color: lemonchiffon;
}
.mainFooter .footerLogo {
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #453355;
  background-color: lemonchiffon;
}
.mainFooter a {
  text-decoration: none;
}
.mainFooter a:hover {
  color: gold;
}
.footerNavList {
  display: flex;
  padding: 0;
  list-style: none;
}
.footerNavList li {
  border-top: 1px double white;
  border-bottom: 1px double white;
  padding: 0.4rem;
  font-size: 0.8rem;
}

#footerLogo > a {
  /* background-color: white;
  color: black; */
  border-radius: 1px;
  padding: 2px;
  text-align: center;
}
.footerLogoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
}
footer .links {
  display: flex;

}
.footerLink {
  margin-right: 1.5em;
}
.copy {
  margin-top: 1em;
  color: white;
}
.hidden {
  display: none;
}
