body,
.canvas-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	background: black;
	background: url('../images/backgrounds/galaxy.jpg');
	background-size: cover;
	min-height: 100vh;
}

nav {
	background: slategray;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 100px;
	box-shadow: 0px 0px 8px 0px inset rgba(0, 0, 0, 0.8);
}

.game-title {
	position: absolute;
	font-size: 36px;
	color: white;
	font-family: 'Faster One', cursive;
	cursor: default;
}

.nav-links-list {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.nav-links-list li {
	margin: 10px;
}

.nav-links-list-header {
	color: white;
	font-family: 'Black Ops One';
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	cursor: default;
}

.logo {
	width: 48px;
	height: 48px;
	background-size: contain;
	transition: 0.5s;
}

.logo.linkedin {
	background-image: url('../images/logos/linkedin.png');
}

.logo.linkedin:hover {
	background-image: url('../images/logos/linkedin-black.png');
}

.logo.angellist {
	background-image: url('../images/logos/angellist.png');
}

.logo.angellist:hover {
	background-image: url('../images/logos/angellist-black.png');
}

.logo.github {
	background-image: url('../images/logos/github.png');
}

.logo.github:hover {
	background-image: url('../images/logos/github-black.png');
}

.logo.email {
	background-image: url('../images/logos/email.png');
}

.logo.email:hover {
	background-image: url('../images/logos/email-black.png');
}

.main-container {
	display: flex;
	width: 100%;
}

.sprite-group-container {
	width: calc(50% - 600px);
	position: relative;
}

.sprite {
	transform-origin: top left;
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
}

.sprite-container {
	overflow: hidden;
	position: absolute;
}

.sprite-container.ship {
	width: 60px;
	height: 90px;
	top: 520px;
}
.right .sprite-container.ship {
	left: 40px;
}
.left .sprite-container.ship {
	right: 40px;
}

.sprite.ship {
	transform: rotate(270deg) translateX(-151%) translateY(-42%) scale(3, 3);
	-webkit-transform: rotate(270deg) translateX(-151%) translateY(-42%) scale(3, 3);
	-ms-transform: rotate(270deg) translateX(-151%) translateY(-42%) scale(3, 3);
}

.sprite-container.crystal {
	width: 24px;
	height: 60px;
	top: 80px;
}

.right .sprite-container.crystal {
	left: 280px;
}

.left .sprite-container.crystal {
	right: 280px;
}

.sprite.crystal {
	transform: scale(4, 4);
	-webkit-transform: scale(4, 4);
	-ms-transform: scale(4, 4);
}

.sprite-container.enemy-small {
	width: 64px;
	height: 64px;
	top: 250px;
}

.right .sprite-container.enemy-small {
	left: 120px;
}

.left .sprite-container.enemy-small {
	right: 120px;
}

.sprite-container.enemy-large {
	width: 128px;
	height: 128px;
	top: 20px;
}

.right .sprite-container.enemy-large {
	left: 180px;
}

.left .sprite-container.enemy-large {
	right: 180px;
}

.sprite.enemy-small,
.sprite.enemy-large {
	transform: rotate(270deg) translateX(-100%);
	-webkit-transform: rotate(270deg) translateX(-100%);
	-ms-transform: rotate(270deg) translateX(-100%);
}

.sprite-container.bullet {
	width: 16px;
	height: 16px;
}

.right .sprite-container.bullet-1 {
	top: 450px;
	left: 80px;
}

.right .sprite-container.bullet-2 {
	top: 400px;
	left: 160px;
}

.right .sprite-container.bullet-3 {
	top: 350px;
	left: 240px;
}

.left .sprite-container.bullet-1 {
	top: 450px;
	right: 80px;
}

.left .sprite-container.bullet-2 {
	top: 400px;
	right: 160px;
}

.left .sprite-container.bullet-3 {
	top: 350px;
	right: 240px;
}

.sprite.bullet {
	transform: rotate(270deg) translateX(-100%);
	-webkit-transform: rotate(270deg) translateX(-100%);
	-ms-transform: rotate(270deg) translateX(-100%);
}

.canvas-container {
	justify-content: center;
	width: 1200px;
	height: 600px;

	background: #b569db; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #b569db 0%, #b95abc 30%, #a31192 62%, #8e2d54 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#b569db 0%,
		#b95abc 30%,
		#a31192 62%,
		#8e2d54 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#b569db 0%,
		#b95abc 30%,
		#a31192 62%,
		#8e2d54 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#b569db',
			endColorstr='#8e2d54',
			GradientType=1
		); /* IE6-9 fallback on horizontal gradient */

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#932419+0,b52115+30,932419+62,40180c+100 */
	background: #932419; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #932419 0%, #b52115 30%, #932419 62%, #40180c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#932419 0%,
		#b52115 30%,
		#932419 62%,
		#40180c 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#932419 0%,
		#b52115 30%,
		#932419 62%,
		#40180c 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#932419',
			endColorstr='#40180c',
			GradientType=1
		); /* IE6-9 fallback on horizontal gradient */

	box-shadow: 0px 0px 8px 8px inset rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	position: relative;
}

canvas {
	position: fixed;
	outline: none;
}

#game-canvas {
	border: 2px solid slategray;
}

.HUD-background-box {
	position: absolute;
	width: 160px;
	background: slategray;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f19252+0,e8c294+30,f19252+62,d85a34+100 */
	background: #f19252; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f19252 0%, #e8c294 30%, #f19252 62%, #d85a34 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#f19252 0%,
		#e8c294 30%,
		#f19252 62%,
		#d85a34 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#f19252 0%,
		#e8c294 30%,
		#f19252 62%,
		#d85a34 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#f19252',
			endColorstr='#d85a34',
			GradientType=1
		); /* IE6-9 fallback on horizontal gradient */

	top: 130px;
	box-shadow: 0px 0px 6px 6px inset rgba(0, 0, 0, 0.4);
}

.HUD-background-box.left {
	height: 200px;
	left: 20px;
}

.HUD-background-box.right {
	height: 340px;
	right: 20px;
}
