/* TODO Add site wide styles */

*,
body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}

li {
  list-style: none;
}

h1 {
  width: 50%;
  margin-top: 100px;
}

h3 {
  margin-top: 150px;
}

button {
  font-weight: bold;
  font-size: 1.5rem;
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: skyblue;

  border-radius: 10px;
  margin: 0 10px;
}

button:hover {
  color: white;
  background-color: skyblue;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 5px solid gray;
  border-radius: 10px;
  width: 75%;
  height: 500px;
}

.left {
  margin: 0;
  width: 25%;
  padding-top: 150px;
  background: skyblue;
  border-radius: 5px 0 0 5px;
}

.right {
  width: 75%;
  display: flex;
  justify-content: center;
}

.sound-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
