<h1>New Post!</h1>

<form action="<%=posts_url%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Title
        <input type="text" name="post[title]">
    </label>
    <br>
    <label>URL
        <input type="text" name="post[url]">
    </label>
    <br>
    <label>Content
        <textarea name="post[content]"></textarea>
    </label>
    <br>
    <input type="hidden" name="post[sub_ids][]" value="">
    <% @subs.each do |sub| %>
        <label>
            <input type="checkbox" name="post[sub_ids][]" value="<%=sub.id%>"> 
            <%= sub.title %>
        </label>
        <br>
    <% end %>
    <br>
    <input type="submit" value="Submit">
</form>