.questlog__page--top {
  height: 100vh;
}

.questlog__page--bottom {
  border: 1px solid black;
  background-image: url(../assets/Top_Background.jpg);
  background-size: cover;
  background-position: center;
  overflow: scroll;
  height: 96vh;
  padding: 20px;
}
