*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  font-size: $font-size-default;
  font-family: "Viaoda Libre", "Courier New", Courier, monospace;
  line-height: 1.5rem;
  color: $color-black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:active,
a:visited {
  color: $color-tan;
}
