/* PHASE 2: Notifications */

header {
    position: relative;
    z-index: 1;
}
.badge{
    border-radius: 50%;
    background-color: black;
    padding: 0 5px;
    font-size: 14px;
}

li:hover .badge{
    background-color: red;
}

.header-list > li{
    position: relative;
}

.header-notifications{
    position: absolute;
    display: none;
    background-color: white;
    white-space: nowrap;
    color: black;
    overflow: hidden;
    
}

.header-notifications li {
    border: 1px solid gray;
    padding: 5px;
}
.header-notifications li:hover{
    background-color: grey;
}

.header-notifications li:last-of-type{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

li:hover .header-notifications{
    display: block;
}