.profile-dropdown {
  position: absolute;
  background: black;
  color: white;
  z-index: 100;
  padding: 10px;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  text-decoration: none;
  padding: 10px;
}
