/* PHASE 4: Footer */

.footer {
    width: 900px;
    margin: auto;
    background: #fff;
    color: #aaa;
    font-size: 14px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    margin: 20px;
}

.footer-links {
    display: flex;
    align-items: center;
    margin: 10px;
}

.footer-links > li {
    margin: 10px;
}

.footer a:hover {
    color: #000;
}
