/* PHASE 9: Forms */
.cancel:hover {
  color: red;
  font-weight: bold;
}

.post-button {
  background: #0c0;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.content-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  /* width: calc(100% - 20px);
  height: 50%; */
}

form {
  background: lightgray;

}

.input > input {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  display: block;
  content: "afdafad";
  background: white;
}

.body > textarea {
  display: block;
  background: white;
  content: "afdafad";
  width: 60%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;
}